$o1: rgb(240, 146, 70);
$o2: rgb(228, 156, 97);
$o3: rgb(228, 130, 51);

$do1: rgb(216, 99, 57);
$do2: rgb(214, 126, 94);
$do3: rgb(218, 78, 28);


#games-social-media{
    a{
        color: $o2;
        opacity: 0.7;
        font-weight: 500;
    }
    h2{
        font-weight: 300;
    }
    .line{
        height: 5px;
        background: $o2;
        border-radius: 5rem;
    }
    .accept-item{
        line-height: 100px;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        opacity: 0.7;
        text-align: center;
    }
    .accept-item:hover{
        opacity: 1;
    }
    .game{
        ul{
            opacity: 0.8;
        }
        .game-img{
            img{
                width: 100%;
            }
        }
        .game-link{
            transition: 0.2s;
            opacity: 0.9;
            img{
                width: 80%;
            }
        }
        .game-link:hover{
            opacity: 1;
        }
        .info{
            ul{
                li{
                    margin-bottom: 15px;
                }
            }
        }
    }
    .media{
        margin-bottom: 35px;
        a{
            text-decoration: underline;
            color: #494949;
        }
        .img-media{
            text-align: center;
            border-right: 1px solid #b1b1b1;
        }
    }
}

@media(max-width: 768px){
    .img-media{
        img{
            width: 25px;
        }
    }
}