<section id="games-social-media">
  <div class="container mt-5">
    <h2 class="drop-content-item">Games and social media</h2>
    <div class="line"></div>
    <div class="row mx-auto">
      <div class="col-lg-3 col-cd-5 mx-auto sidebar-menu">
        <h5 data-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="sidebar">Prepare<i class="fa fa-list pt-2 ml-1"></i></h5>
        <div class="sidebar collapse" id="sidebar">
          <ul class="list-unstyled">
            <li *ngFor="let sidebarItem of sidebarItems">
              <a routerLink="/{{sidebarItem.link}}">{{sidebarItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 subItem mt-4">
        <p><strong>Games and social media</strong></p>
        <p>Games, videos and social networking are all great ways to improve your English. Find out what is available
          from Cambridge Assessment English.</p>

        <hr>
        <div class="game">
          <p><strong>Quiz your English app</strong></p>
          <div class="row">
            <div class="col-lg-4 col-md-12 game-img">
              <img src="../../../../assets/img/preparing/games-socila-media/Bravi tile-03.png" alt="">
            </div>
            <div class="col-lg-8 col-md-12 came-content">
              <p>Challenge your friends and players from around the world with our English language quiz. Covering a
                range of topics, Quiz your English is a fun way to practise and improve your English.</p>
              <ul>
                <li>Exam level: B2 First, B2 First for Schools and IELTS 4.0–6.5</li>
                <li>CEFR: B1–B2</li>
                <li>Skills practised: Vocabulary and grammar</li>
              </ul>
              <div class="play text-right">
                <button class="btn btn-v2 btn-sm" type="button" data-toggle="collapse" data-target="#firstGame"
                  aria-expanded="false" aria-controls="collapseExample">Play Quiz your English</button>
              </div>
            </div>
          </div>
          <div class="full-content collapse mt-5" id="firstGame">
            <div class="row">
              <div class="col-lg-4 col-md-8 mx-auto game-img">
                <img src="../../../../assets/img/preparing/games-socila-media/quiz your english screenshot.png" alt="">
              </div>
              <div class="col-lg-8 col-md-12 text-center">
                <strong>
                  <p>Quiz your English is a fun way to improve your English</p>
                </strong>
                <p>Download Quiz your English for free.</p>
                <div class="row">
                  <div class="col-6">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=org.cambridgeenglish.bravi.quiz"
                      class="game-link">
                      <img src="../../../../assets/img/preparing/games-socila-media/google-play.png" alt="">
                    </a>
                  </div>
                  <div class="col-6">
                    <a target="_blank" href="https://itunes.apple.com/us/app/quiz-your-english-practise-english-with-friends/id1192686552?mt=8"
                      class="game-link">
                      <img src="../../../../assets/img/preparing/games-socila-media/app-store.png" alt="">
                    </a>
                  </div>
                </div>
                <div class="info mt-4 text-left">
                  <strong>
                    <p>Key features:</p>
                  </strong>
                  <ul>
                    <li>Go head-to-head quizzing your English language skills.</li>
                    <li>Compete with other players from around the world and challenge your friends through social
                      media.</li>
                    <li>Battle it out over a range of general English topics and grammar, or brush up ready for your
                      test by selecting an exam-specific topic.</li>
                    <li>Now you can earn Achievements as you progress - how far can you go?</li>
                    <li>Play for free, or make in-app purchases to reveal exclusive new content packs.</li>
                    <li>Content developed by Cambridge Assessment English, the producer of IELTS.</li>
                  </ul>
                  <hr>
                  <p><strong>Exam level:</strong> Cambridge English: First, First for Schools and IELTS 4.0–6.5 </p>
                  <p><strong>CEFR level:</strong> A1–C1 </p>
                  <p><strong>Skills practised:</strong> Vocabulary and grammar</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div class="game">
          <p><strong>Cambridge English FC</strong></p>
          <div class="row">
            <div class="col-lg-4 col-md-12 game-img">
              <img src="../../../../assets/img/preparing/games-socila-media/english-fc.jpg" alt="">
            </div>
            <div class="col-lg-8 col-md-12 came-content">
              <p>You are captain of Cambridge English FC football team. Answer English grammar, vocabulary and
                pronunciation questions so your team can win the cup. Be sure to impress your manager or you’ll be sent
                to the bench!</p>
              <ul>
                <li>Exam level: B2 First, B2 First for Schools and C1 Advanced</li>
                <li>CEFR: B2 – C1</li>
                <li>Skills practised: Vocabulary and grammar</li>
              </ul>
              <div class="play text-right">
                <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#secondGame"
                  aria-expanded="false" aria-controls="collapseExample">Play Cambridge English FC</button>
              </div>
            </div>
          </div>
          <div class="full-content collapse mt-5" id="secondGame">
            <div class="row">
              <div class="col-lg-4 col-md-8 mx-auto game-img">
                <img src="../../../../assets/img/preparing/games-socila-media/english-fc-screenshot.jpg" alt="">
              </div>
              <div class="col-lg-8 col-md-12 text-center">
                <strong>
                  <p>Cambridge English FC</p>
                </strong>
                <p>You are captain of Cambridge English FC football team in our fun, new learning game. Answer English
                  grammar, vocabulary and pronunciation questions to help your team pass the ball, get to the goal,
                  shoot and score. Get the questions right and take home the cup. Get them wrong and you may be sent to
                  the bench!</p>
                <div class="row">
                  <div class="col-6">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=uk.co.pocketapp.CamridgeEnglish&utm_source=website&utm_medium=play-store-button&utm_campaign=cam-eng-website"
                      class="game-link">
                      <img src="../../../../assets/img/preparing/games-socila-media/google-play.png" alt="">
                    </a>
                  </div>
                  <div class="col-6">
                    <a target="_blank" href="https://itunes.apple.com/us/app/cambridge-english-fc/?id=1063957931&mt=8"
                      class="game-link">
                      <img src="../../../../assets/img/preparing/games-socila-media/app-store.png" alt="">
                    </a>
                  </div>
                </div>
                <div class="info mt-4 text-left">
                  <hr>
                  <p><strong>Exam level:</strong> Cambridge English: First, First for Schools and Advanced</p>
                  <p><strong>CEFR:</strong> B2–C1 </p>
                  <p><strong>Skills practised:</strong> Vocabulary and grammar</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
            <a target="_blank" href="https://www.cambridgeenglish.org/learning-english/games-social/"><button class="btn btn-dark btn-sm">Find out more games here...</button></a>
        <hr>

        <div class="row media">
          <div class="col-lg-2 col-md-2 col-2 img-media">
            <img src="../../../../assets/img/preparing/games-socila-media/Facebook logo.png" alt="">
          </div>
          <div class="col-lg-10 col-md-10 col-10">
            <a href="http://www.facebook.com/CambridgeEnglish">
              <strong>
                  <p>Cambridge English Global Facebook page </p>
              </strong>
            </a>
            <p>Join our lively Facebook community and take part in quizzes, talk to other English language learners and learn on the go.</p>
          </div>
        </div>

        <div class="row media">
            <div class="col-lg-2 col-md-2 col-2 img-media">
              <img src="../../../../assets/img/preparing/games-socila-media/youtube.png" alt="">
            </div>
            <div class="col-lg-10 col-md-10 col-10">
              <a href="http://www.youtube.com/user/cambridgeenglishtv">
                <strong>
                    <p>Cambridge English TV </p>
                </strong>
              </a>
              <p>Subscribe to our channel to get helpful tips on exam practice and lots of English language learning advice.</p>
            </div>
          </div>

          <div class="row media">
              <div class="col-lg-2 col-md-2 col-2 img-media">
                <img src="../../../../assets/img/preparing/games-socila-media/Insta logo.png" alt="">
              </div>
              <div class="col-lg-10 col-md-10 col-10">
                <a href="https://www.instagram.com/cambridgeenglish/">
                  <strong>
                      <p>Cambridge English Instagram page </p>
                  </strong>
                </a>
                <p>Be inspired, learn together, and speak to the world on our Instagram page.</p>
              </div>
            </div>
            
            <div class="row media">
              <div class="col-lg-2 col-md-2 col-2 img-media">
                <img src="../../../../assets/img/preparing/games-socila-media/VK.com logo.png" alt="">
              </div>
              <div class="col-lg-10 col-md-10 col-10">
                <a href="http://vk.com/CambridgeEnglishRU">
                  <strong>
                      <p>Find Cambridge Assessment English on VKontakte</p>
                  </strong>
                </a>
                <p>Our VKontakte</p>
              </div>
            </div>

            <div class="row media">
              <div class="col-lg-2 col-md-2 col-2 img-media">
                <img src="../../../../assets/img/preparing/games-socila-media/Twitter_Logo_White_On_Blue.png" alt="">
              </div>
              <div class="col-lg-10 col-md-10 col-10">
                <a href="https://twitter.com/CambridgeEng">
                  <strong>
                      <p>Find Cambridge Assessment English on Twitter</p>
                  </strong>
                </a>
                <p>Our Twitter</p>
              </div>
            </div>

      </div>
    </div>
  </div>
</section>
