<footer>
  <div class="row">
    <div class="col-3 line-footer"></div>
    <div class="col-3 line-footer"></div>
    <div class="col-3 line-footer"></div>
    <div class="col-3 line-footer"></div>
  </div>
  <div class="container mt-4">
      <div class="row">
          <div class="col-lg-4 col-md-12 check-also">
            <h4 class="title-footer">Check also:</h4>
            <ul class="list-unstyled">
              <a href=""><li>Home</li></a>
              <a href=""><li>Why choose us?</li></a>
              <a href=""><li>Exams and tests</li></a>
              <a href=""><li>Prepare for cambridge exam</li></a>
              <a href=""><li>Contact</li></a>
            </ul>
          </div>
          <div class="col-lg-4 col-md-12 socials">
            <h4 class="title-footer">Follow us:</h4>
              <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a> <br>
              <a href="#" style="color: #0077B5;"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          </div>
          <div class="col-lg-4 col-md-12"></div>
        </div>
        <hr>
        <div class="terms">
            <ul class="list-unstyled">
              <li class="footer-item"><a href="" class="footer-link">Copyright © 2018 UCLES</a></li>
              <li class="footer-item"><a href="" class="footer-link">Terms and conditions</a></li>
              <li class="footer-item"><a href="" class="footer-link">Data protection</a></li>
              <li class="footer-item"><a href="" class="footer-link">Accessibility statement</a></li>
              <li class="footer-item"><a href="" class="footer-link">Statement on modern slavery</a></li>
              <li class="footer-item"><a href="" class="footer-link">Sitemap</a></li>
            </ul>
        </div>
  </div>
</footer>