<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 mx-auto footer-item">
        <p class="footer-title">Check also:</p>
        <ul class="list-unstyled footer-nav">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/why-we">Why choose us?</a></li>
          <li><a routerLink="/exams-tests">Exams and tests</a></li>
          <li><a routerLink="/prepare">Prepare for Cambridge Exam</a></li>
          <li><a routerLink="/find-us">Find Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 mx-auto footer-item">
        <p class="footer-title">Follow us:</p>
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        <p class="subinfo">Follow us on social networks <br>
           to keep up with all the news.</p>
      </div>
      <div class="col-lg-3 col-md-4 mx-auto info footer-item">
        <div class="col-lg-12 col-md-6 col-8 p-0">
          <img src="../../../assets/img/logo-white.png" class="mb-4 w-100" alt="">
        </div>
        <p><i class="fa fa-phone"></i> +998 99 8898650</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> 16, Afrosiyab street, Tashkent</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> info@cambridgeenglish.uz</p>
      </div>
    </div>
    <hr>
    <div class="additional-info">
      <p class="d-inline mr-3">Copyright © 2018 UCLES</p>
      <a routerLink="/terms-conditions">Terms and Conditions</a>
    </div>
    <div class="scroll-top">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
  </div>
</footer>