<section id="parents-info">
  <div class="container mt-5">
    <h2 class="drop-content-item">Information for parents</h2>
    <div class="line"></div>
    <div class="row mx-auto">
      <div class="col-lg-3 col-cd-5 mx-auto sidebar-menu">
        <div class="sidebar">
          <ul class="list-unstyled">
            <li>
              <a routerLink="/prepare/parents-and-children/information-for-parents">Information for parents</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 subItem mt-4">
        <p>Helping your child to learn English is made a lot easier with our help. Our research team conducts thorough,
          rigorous work to understand how children learn vocabulary, get to grips with grammar and gain confidence in
          speaking and writing a language. </p>
        <h5>Cambridge English exams for children</h5>
        <p>Our <a target="_blank" routerLink="/exams-tests">exams</a> are designed and developed to motivate children
          from a young age right through their teenage years
          and beyond. They cover all four language skills – reading, writing, listening and speaking – and bring
          learning to life.</p>
        <p>All our exams are linked to the <a target="_blank" routerLink="/exams-tests/cefr">Common European Framework
            of Reference for Languages (CEFR)</a> – the
          international standard to describe language ability. This makes it easy to see the progress your child is
          making in English, and for employers and educational institutions to recognise your child’s ability when they
          leave school.</p>
        <p>A certificate from Cambridge English will help your child stand out from the crowd and access the best
          study, work and life opportunities.</p>

        <div class="more-info">
          <div class="more-item">
            <h5 data-toggle="collapse" href="#first-item" role="button" aria-expanded="false" aria-controls="collapseExample">
              Which exam is right for your child?
            </h5>
            <div class="collapse pt-4" id="first-item">

              <p><span class="italic">Cambridge English: Young Learners (YLE)</span><br>
                (CEFR Levels pre-A1, A1, A2) <br>
                Three fun, activity-based tests designed to <strong>motivate your child and show how your child is
                  learning.</strong> <br>
                Find out more about Cambridge English: Young Learners</p>

              <p><span class="italic">Cambridge English: Key (KET) for Schools </span><br>
                (CEFR Level A2) <br>
                Shows your child can <strong>use everyday English at a basic level. </strong> <br>
                <a routerLink="/exams-tests/schools/key-for-schools">Find out more about Cambridge English:
                  Key for Schools</a></p>

              <p><span class="italic">Cambridge English: Preliminary (PET) for Schools </span><br>
                (CEFR Level B1) <br>
                Shows your child can <strong>use everyday English at an intermediate level. </strong> <br>
                <a routerLink="/exams-tests/schools/preliminary-for-schools">Find out more about Cambridge English:
                  Preliminary for Schools</a></p>

              <p><span class="italic">Cambridge English: First (FCE) for Schools </span><br>
                (CEFR Level B2) <br>
                Shows your child can <strong>use everyday written and spoken English at an upper-intermediate level
                </strong> for work or study purposes. <br>
                <a routerLink="/exams-tests/schools/preliminary-for-schools">Find out more about Cambridge English:
                  First for Schools</a>
              </p>

              <strong>
                <p>Taking English to the highest levels</p>
              </strong>

              <p><span class="italic">Cambridge English: Advanced (CAE) </span><br>
                (CEFR Level C1) <br>
                The <strong> internationally recognised standard</strong> to study and work in English-speaking
                countries. <br>
                <a routerLink="/exams-tests/general-higher/advanced">Find out more about Cambridge English: Advanced</a>
              </p>

            </div>
          </div>
        </div>


        <div class="more-info">
          <div class="more-item">
            <h5 data-toggle="collapse" href="#second-item" role="button" aria-expanded="false" aria-controls="collapseExample">
              What do teachers and students say about our exams?
            </h5>
            <div class="collapse pt-4" id="second-item">
              <strong>
                <p>Students</p>
              </strong>
              <p>“Preparing for <span class="italic">Cambridge English: First</span> was really useful for me. My
                English improved a lot. Since
                that time daily life is much easier for me as I am living in a foreign country where the daily language
                is English, not my mother tongue.” <br>
                <strong>– Gisela Raab, Germany</strong></p>

              <p>“Oh, we were so proud to receive the prestigious Cambridge English certificates for our <span class="italic">Cambridge
                  English: Young Learners</span> exam.” <br>
                <strong>– Germaine Teh Jhee Wei, Thailand</strong></p>

              <strong>
                <p>Teachers</p>
              </strong>
              <p>“Preparing pupils for Cambridge exams at an early age, with step-by-step progress and in a safe
                classroom environment, will empower them to succeed in all levels in the future. They soon realise they
                are able to do it and look forward to preparing for the next exam.” <br>
                <strong>– Luciane Calcara, Colégio Farroupilha, Porto Alegre, Brazil</strong></p>

              <p>“The tasks are age-appropriate and fun enough for young learners to forget that they are being
                assessed. Most importantly, while preparing for the tests, students can enhance their real-life
                communication skills. I think that’s what makes Cambridge English: Young Learners outstanding.” <br>
                <strong>– Ji Young Kim, English Teacher, South Korea</strong></p>

            </div>
          </div>
        </div>

        <div class="more-info">
          <div class="more-item">
            <h5 data-toggle="collapse" href="#third-item" role="button" aria-expanded="false" aria-controls="collapseExample">
              For more information
            </h5>
            <div class="collapse pt-4" id="third-item">
              <strong>
                <p>Talk to your child’s English teacher</p>
              </strong>
              <p>Thousands of schools prepare children for our exams. Find out whether your child’s school is already
                one of more than 52,000 Cambridge English exam preparation centres around the world.</p>
            </div>
          </div>
        </div>

        <div class="more-info">
          <div class="more-item">
            <h5 data-toggle="collapse" href="#fourth-item" role="button" aria-expanded="false" aria-controls="collapseExample">
              Find an exam centre near you
            </h5>
            <div class="collapse pt-4" id="fourth-item">
              <strong>
                <p>Find an exam centre near you</p>
              </strong>
              <p>If your child’s school is not a Cambridge English preparation centre, contact your local authorised
                exam centre to find out:</p>
                <ul>
                  <li>which exam is right for your child</li>
                  <li>how your child can prepare for the exam</li>
                  <li>when your child can take it</li>
                  <li>how to register</li>
                  <li>how much the exam will cost.</li>
                </ul>
                <a routerLink="/find-us">
                  <p>Find our center</p>
                </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
