<div class="first-section py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 brand mx-auto">
        <a routerLink="/"><img src="../../../assets/img/logo.png" class="w-100" alt=""></a>
      </div>
      <div class="col-lg-4 col-md-12 socials text-center">
        <p class="d-inline mr-2">Follow us:</p>
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-4 col-md-12 text-center p-0">
        <p class="d-inline mr-2">Change language:</p>
        <div class="langs d-inline">
          <img class="lang-item active" src="../../../assets/img/eng.png" alt="">
          <img class="lang-item" src="../../../assets/img/ru.png" alt="">
          <img class="lang-item" src="../../../assets/img/uz.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="second-section">
  <nav class="navbar navbar-expand-lg navbar-dark p-0">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <i (click)="changeicon()" class="fa {{icon}}" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" routerLink="/why-we" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>Why choose us?
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/why-we/who-accept-exams">Who accept our exam?</a>
            <a class="dropdown-item" routerLink="/why-we/end-skill-in-workplace">English language skills in the work place</a>
            <a class="dropdown-item" routerLink="/why-we/study-abroad">Study abroad</a>
          </div>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" routerLink="/exams-tests" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-file-text" aria-hidden="true"></i>Exams and tests
          </a>
          <div class="dropdown-menu">
              <li class="nav-item last-item">
                  <div class="card">
                    <div class="card-header"><a class="nav-link second-level pb-0" routerLink="/schools"><i class="fa fa-user"></i>Schools</a></div>
                    <div class="card-body">
                        <a class="dropdown-item" routerLink="/exams-tests/schools/starters">Pre A1 Starters (YLE Starters)</a>
                        <a class="dropdown-item" routerLink="/exams-tests/schools/movers">A1 Movers (YLE Movers)</a>
                        <a class="dropdown-item" routerLink="/exams-tests/schools/flyers">A2 Flyers (YLE Flyers)</a>
                        <a class="dropdown-item" routerLink="/exams-tests/schools/key-for-schools">A2 Key for Schools (KET)</a>
                        <a class="dropdown-item" routerLink="/exams-tests/schools/preliminary-for-schools">B1 Preliminary for Schools (PET)</a>
                        <a class="dropdown-item" routerLink="/exams-tests/schools/first-for-schools">B2 First for Schools (FCE)</a>
                    </div>
                  </div>
                  <div class="card">
                      <div class="card-header"><a class="nav-link second-level pb-0" routerLink="/general-higher"><i class="fa fa-graduation-cap"></i> General higher education</a></div>
                      <div class="card-body">
                          <a class="dropdown-item" routerLink="/exams-tests/general-higher/key">A2 Key (KET)</a>
                          <a class="dropdown-item" routerLink="/exams-tests/general-higher/preliminary">B1 Preliminary (PET)</a>
                          <a class="dropdown-item" routerLink="/exams-tests/general-higher/first">B2 First (FCE)</a>
                          <a class="dropdown-item" routerLink="/exams-tests/general-higher/advanced">C1 Advanced (CAE)</a>
                      </div>
                    </div>
              </li>
          </div>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" routerLink="/prepare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-pencil" aria-hidden="true"></i>Prepare for Cambridge Exam
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/prepare/games">Free activities</a>
            <a class="dropdown-item" routerLink="/prepare/games">Exam preparation</a>
            <a class="dropdown-item" routerLink="/prepare/games">Test your English</a>
            <a class="dropdown-item" routerLink="/prepare/parents-and-children">Parents and children</a>
            <a class="dropdown-item" routerLink="/prepare/games-and-social-media">Games and social media</a>
            <a class="dropdown-item" routerLink="/prepare/games">More resources</a>
          </div>
        </li>
        <li class="nav-item last-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/find-us"><i class="fa fa-map-marker" aria-hidden="true"></i>Find Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
