<div class="whole-navbar">
  <div class="mobileLogo col-md-4 col-7 p-0 mx-auto my-3">
      <a routerLink="/"><img src="../../../assets/img/logo.png" width="100%"></a>
  </div>
  <div class="first-section py-3" id="desktopSection">
    <div class="container">
      <div class="row m-0">
        <div class="col-lg-1 col-0 mx-auto"></div>
        <div class="col-lg-3 col-md-12 mx-auto px-4 logo">
          <a routerLink="/"><img src="../../../assets/img/logo.png" width="100%"></a>
        </div>
        <div class="col-lg-3 col-md-6 col-6 mx-auto socials text-center p-0">
          <a target="_blank" href="https://www.facebook.com/CambridgeEnglish"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://twitter.com/CambridgeEng"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.instagram.com/cambridgeenglish/"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.linkedin.com/company/cambridge-assessment-english"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.youtube.com/user/cambridgeenglishtv"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-2 col-md-6 col-6 p-0 mx-auto p-0">
          <div class="langs d-inline">
            <img class="lang-item active" src="../../../assets/img/eng.png" alt="">
            <img class="lang-item" src="../../../assets/img/ru.png" alt="">
            <img class="lang-item" src="../../../assets/img/uz.png" alt="">
          </div>
        </div>
        <div class="book-exam col-lg-2 col-md-8 mx-auto p-0">
          <a routerLink="/book-exam" class="btn btn-v1 book-a-test">Book a test!</a>
        </div>
        <div class="col-lg-1 col-0 mx-auto"></div>
      </div>
    </div>
  </div>
  <div class="second-section">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <span class="show-on-mob">
        <div class="social-nets-mob mr-3">
          <a target="_blank" href="https://www.facebook.com/CambridgeEnglish"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://twitter.com/CambridgeEng"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.instagram.com/cambridgeenglish/"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.linkedin.com/company/cambridge-assessment-english"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.youtube.com/user/cambridgeenglishtv"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
        <a routerLink="/book-exam"><button class="btn btn-sm text-v1 mr-2" style="border-radius: 5rem; background: #fff">Book a test!</button></a>
      </span>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/"><i class="fa fa-home"></i>Home</a>
          </li>
          <!-- <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link dropdown-toggle" routerLink="/about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users" aria-hidden="true"></i>About Us
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/about/partners">Our partners</a>
                <a class="dropdown-item" routerLink="/about/events">Events</a>
                <a class="dropdown-item" routerLink="/about/general_info">General Information</a>
              </div>
            </li> -->
          <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link dropdown-toggle" routerLink="/why-we" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>Why choose us?
            </a>
            <span class="dropdown-toggler-icon">
              <i class="fa fa-plus"></i>
            </span>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/why-we/who-accept-exams">Who accept our exam?</a>
              <a class="dropdown-item" routerLink="/why-we/end-skill-in-workplace">English language skills in the work
                place</a>
              <a class="dropdown-item" routerLink="/why-we/study-abroad">Study abroad</a>
            </div>
          </li>
          <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link dropdown-toggle" routerLink="/exams-tests" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-file-text" aria-hidden="true"></i>Exams and tests
            </a>
            <span class="dropdown-toggler-icon">
              <i class="fa fa-plus"></i>
            </span>
            <div class="dropdown-menu">
          <li class="nav-item last-item">
            <div class="card">
              <div class="card-header"><a style="color: #fff!important" class="nav-link second-level pb-0" routerLink="/exams-tests/schools"><i class="fa fa-user"></i>Schools</a></div>
              <div class="card-body">
                <a class="dropdown-item" routerLink="/exams-tests/schools/starters">Pre A1 Starters (YLE Starters)</a>
                <a class="dropdown-item" routerLink="/exams-tests/schools/movers">A1 Movers (YLE Movers)</a>
                <a class="dropdown-item" routerLink="/exams-tests/schools/flyers">A2 Flyers (YLE Flyers)</a>
                <a class="dropdown-item" routerLink="/exams-tests/schools/key-for-schools">A2 Key for Schools (KET)</a>
                <a class="dropdown-item" routerLink="/exams-tests/schools/preliminary-for-schools">B1 Preliminary for
                  Schools (PET)</a>
                <a class="dropdown-item" routerLink="/exams-tests/schools/first-for-schools">B2 First for Schools (FCE)</a>
              </div>
            </div>
            <div class="card">
              <div class="card-header"><a style="color: #fff!important" class="nav-link second-level pb-0" routerLink="/exams-tests/general-higher"><i
                    class="fa fa-graduation-cap"></i> General higher education</a></div>
              <div class="card-body">
                <a class="dropdown-item" routerLink="/exams-tests/general-higher/key">A2 Key (KET)</a>
                <a class="dropdown-item" routerLink="/exams-tests/general-higher/preliminary">B1 Preliminary (PET)</a>
                <a class="dropdown-item" routerLink="/exams-tests/general-higher/first">B2 First (FCE)</a>
                <a class="dropdown-item" routerLink="/exams-tests/general-higher/advanced">C1 Advanced (CAE)</a>
              </div>
            </div>
          </li>
      </div>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link dropdown-toggle" routerLink="/prepare" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-pencil" aria-hidden="true"></i>Prepare for Cambridge Exam
        </a>
        <span class="dropdown-toggler-icon">
            <i class="fa fa-plus"></i>
          </span>
        <div class="dropdown-menu">
          <a target="_blank" class="dropdown-item" href="https://www.cambridgeenglish.org/learning-english/activities-for-learners/">Free
            activities</a>
          <a target="_blank" class="dropdown-item" href="https://www.cambridgeenglish.org/learning-english/exam-preparation/">Exam
            preparation</a>
          <a target="_blank" class="dropdown-item" href="https://www.cambridgeenglish.org/test-your-english/">Test your
            English</a>
          <a class="dropdown-item" routerLink="/prepare/parents-and-children">Parents and children</a>
          <a class="dropdown-item" routerLink="/prepare/games-and-social-media">Games and social media</a>
          <a target="_blank" class="dropdown-item" href="https://www.cambridgeenglish.org/learning-english/free-resources/">More
            resources</a>
        </div>
      </li>
      <li class="nav-item last-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/find-us"><i class="fa fa-map-marker" aria-hidden="true"></i>Find Us</a>
      </li>
      </ul>
  </div>
  </nav>
</div>

</div>
