<section id="book-test">
  <div class="container mt-5">
    <h2 class="drop-content-item text-center">Cambridge Exam Application Form</h2>
    <div class="short-line my-4"></div>
    <div class="content">
      <p class="title-cefr">IMPORTANT INFORMATION</p>

      <hr>

      <div class="row">
        <div class="col-lg-4 col-md-4 important-item">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <p>Exam places are given on a first-come-first-served basis. Your place cannot be guaranteed until we receive
            full payment of the exam fee.</p>
        </div>
        <div class="col-lg-4 col-md-4 important-item">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <p>The exam is organised in 2 parts – Speaking and Paper-Based – these will take place on 2 separate dates.
            You must sit all components of the exam in order to qualify for your result.</p>
        </div>
        <div class="col-lg-4 col-md-4 important-item">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <p>You must be available between the dates in red for the speaking examination. You will be notified of the
            exact date later, no later than 2 weeks in advance. No refund will be given if you become unavailable.</p>
        </div>
        <div class="col-lg-4 col-md-4 important-item">
          <i class="fa fa-money" aria-hidden="true"></i>
          <p>Exam fees cannot be refunded except in cases of serious illness or bereavement. Documentation must be
            provided.</p>
        </div>
        <div class="col-lg-4 col-md-4 important-item">
          <i class="fa fa-camera-retro" aria-hidden="true"></i>
          <p>You must bring photographic identification (passport or national ID card) with you on the day of your
            exam. You will also have a photograph taken on the day of the Speaking exam.</p>
        </div>
        <div class="col-lg-4 col-md-4 important-item">
          <i class="fa fa-internet-explorer" aria-hidden="true"></i>
          <p>Please note that online results will be available 4-6 weeks after the Paper-Based exam date. Occasionally,
            certificates take up to 3 months to arrive at IH Aberdeen. Once they have arrived, we will post them to the
            address you have given on your exam registration form. Please contact IH Aberdeen directly if you change
            address.</p>
        </div>
        <div class="col-lg-4 col-md-4 important-item mx-auto">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <p>Please read the terms and conditions on the exam registration form carefully before signing it and
            completing payment.</p>
        </div>
      </div>

      <hr>

      <p class="title-cefr">Please fill in the following details</p>
      <form action="">

        <div class="row mt-5">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" id="fName" required class="form-control" placeholder="First name">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-user-o"></i>
              </div>
              <input type="text" id="famName" required class="form-control" placeholder="Family name">
            </div>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-venus-mars"></i>
              </div>
              <select name="" id="" class="form-control" required>
                <option value=""> -- Slect Gender --</option>
                <option value=""> Male</option>
                <option value=""> Female</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
              </div>
              <input type="text" id="nation" required class="form-control" placeholder="Nationality">
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date" id="famName" required class="form-control" placeholder="Date of birth">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-envelope"></i>
              </div>
              <input type="email" id="email" required class="form-control" placeholder="name@email.com">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 mb-4">
            <small class="text-muted mail">This is the address that your certificate will be sent to. If you want the
              centre
              to send it to a different address please contact the centre directly.</small>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-phone"></i>
              </div>
              <input type="text" id="hNumber" required class="form-control" placeholder="Home telephone number">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-phone-square"></i>
              </div>
              <input type="text" id="mNumber" required class="form-control" placeholder="Mobile telephone number">
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-map-marker"></i>
              </div>
              <input type="text" id="address" required class="form-control" placeholder="Address">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-building"></i>
              </div>
              <input type="text" id="city" required class="form-control" placeholder="City / Town">
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-envelope"></i>
              </div>
              <input type="text" id="postal" required class="form-control" placeholder="Postal / Zip Code">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-globe"></i>
              </div>
              <input type="text" id="country" required class="form-control" placeholder="Country">
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-address-card"></i>
              </div>
              <input type="text" id="passport" required class="form-control" placeholder="Passport or National ID Number">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-globe"></i>
              </div>
              <input type="text" id="countryOfBirth" required class="form-control" placeholder="Country of Birth">
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-4 col-md-4">
            <small class="text-muted">Name of institution where you are doing a Cambridge English exam preparation
              course (leave blank if you are not doing a course)</small>
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-university"></i>
              </div>
              <input type="text" id="passport" required class="form-control">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <small class="text-muted">Do you have any special requirements? For example modified materials for visual
              difficulties, or special requirements because of a medical condition.</small>
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-check"></i>
              </div>
              <textarea type="text" id="countryOfBirth" required class="form-control"></textarea>
            </div>
          </div>
        </div>

        <hr>

        <p class="title-cefr">Declaration</p>
        <p class="text-center">I wish to be admitted for the selected Cambridge English exam at IH Aberdeen and for the
          dates specified.</p>

        <br>

        <p class="text-success">I agree to the following:</p>
        <div class="checkbox">
          <label><input type="checkbox" value=""> I have checked that my passport / European Identity card does not
            expire on or before the specified exam dates.</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""> I will bring my passport / European Identity Card to each component
            of the exam. </label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""> The full name I have given on this form matches the name on my
            passport/ ID.</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""> I consent to have my photo taken by the centre on the day of the
            speaking exam or the written papers.</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""> I agree for this photo to be held on the secure Cambridge English
            Language Assessment Results Verification site.</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value=""> I declare that all the information I have given on this form is
            accurate and that I agree with the above Terms and Conditions.</label>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-3 col-md-3">
            <small class="text-muted">How did you hear about Cambridge Assesment English?</small>
          </div>
          <div class="col-lg-5 col-md-5">
            <div class="input-group">
              <div class="input-group-text">
                <i class="fa fa-comments"></i>
              </div>
              <select name="" id="" class="form-control" required>
                <option value=""> Cambridge Assesment English website</option>
                <option value=""> Intenrnet search</option>
                <option value=""> In social networks</option>
                <option value=""> Referred by Edu-Action</option>
                <option value=""> Referred by another company</option>
                <option value=""> Recomended by friend</option>
                <option value=""> Recomended by family</option>
                <option value=""> Other</option>
              </select>
            </div>
          </div>
        </div>

        <hr>

        <div class="text-center">
            <button type="submit" name="submit" class="btn btn-success w-25">Submit!</button>
        </div>

      </form>

    </div>
  </div>
</section>
