$o1: rgb(240, 146, 70);
$o2: rgb(228, 156, 97);
$o3: rgb(228, 130, 51);

$do1: rgb(216, 99, 57);
$do2: rgb(214, 126, 94);
$do3: rgb(218, 78, 28);

#find-us{
    h1{
        font-weight: 300;
        margin-bottom: 15px;
    }
    .info{
        .line{
            width: 50px;
            height: 5px;
            background: $do2;
            border-radius: 5rem;
        }
    }
    .map{
        border-top: 8px solid $do2;
        border-bottom: 8px solid $o2;
    }
}

@media(min-width: 998px){
    .parts{
        .part-item{
            height: 270px;
            max-height: 270px;
            position: relative;
            button{
                position: absolute;
                bottom: 0;
                display: block;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}

.location-item {
    margin-top: 25px;
    i {
        color: $o2;
        margin-bottom: 10px;
        font-size: 40px;
    }
    .contact_info {
        color: gray;
    }

}

@media(max-width: 1200px){
    .header_img{
        top: 35px!important;
    }
    p{
        width: 70%;
        margin: auto;
    }
}

@media(max-width: 998px){
    .header_img {
        top: 35px!important;
    }
    p{
        width: 100%;
        margin: auto;
    }
}