<section id="find-us">

  <div class="overflow">
    <img src="../../../assets/img/find-us//find-us-overflow.png" alt="" class="overflowImg img-fluid w-100">
    <div class="content">
      <h1 class="title">FIND ALL INFORMATION ABOUT OUR LOCATION</h1>
      <p>We have lots of free online activities to help teenagers and adults practise their English. Choose the skill
        you want to practise and the level that’s right for you.</p>
    </div>
  </div>

  <div class="prepare-intro text-center">
    <h1>Find Us Here</h1>
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.447851459189!2d69.2701532153445!3d41.299119909425436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b1f8eeee311%3A0x1fc003aa9dade0e8!2sEdu+Action!5e0!3m2!1sru!2s!4v1542536746152"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 info text-right">
        <h5>EDU-ACTION (UZ004)</h5>
        <div class="line ml-auto my-4"></div>
        <p>t/a 'Action Group' NGO
          16 Afrasiyob Street
          Uzbekistan
          Tashkent
          UZBEKISTAN</p>
        <strong>
          <p class="m-0">Contact</p>
        </strong>
        <p>Akmal Akhrorkhodjaev</p>
        <strong>
          <p class="m-0">Phone</p>
        </strong>
        <p>+998 951 458 686</p>
        <strong>
          <p class="m-0">Fax</p>
        </strong>
        <p>+998 711 488 686</p>
        <strong>
          <p class="m-0">Email</p>
        </strong>
        <p>Akmal Akhrorkhodjaev</p>
      </div>
    </div>
  </div>

</section>
