$o1: rgb(240, 146, 70);
$o2: rgb(228, 156, 97);
$o3: rgb(228, 130, 51);

$do1: rgb(216, 99, 57);
$do2: rgb(214, 126, 94);
$do3: rgb(218, 78, 28);

#find-us{
    h1{
        font-weight: 300;
        margin-bottom: 15px;
    }
    .info{
        .line{
            width: 50px;
            height: 5px;
            background: $do2;
            border-radius: 5rem;
        }
    }
    .map{
        border-top: 8px solid $do2;
        border-bottom: 8px solid $o2;
    }
    .intro{
        position: relative;
        height: 650px;
        .header_img{
            position: absolute;
            top: -40px;
            z-index: -2;
        }
        .content{
            position: absolute;
            color: #fff;
            z-index: 9998;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            h1{
                font-weight: 700;
            }
        }
    }
}

@media(max-width: 2000px){
    .intro{
        height: 700px!important;
    }
}

@media(min-width: 998px){
    .parts{
        .part-item{
            height: 270px;
            max-height: 270px;
            position: relative;
            button{
                position: absolute;
                bottom: 0;
                display: block;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
    .intro{
        p{
            width: 400px;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}

.location-item {
    margin-top: 25px;
    i {
        color: $o2;
        margin-bottom: 10px;
        font-size: 40px;
    }
    .contact_info {
        color: gray;
    }

}

@media(max-width: 1200px){
    .header_img{
        top: 35px!important;
    }
    .content{
        padding-top: 75px;
        top: 0%!important;
        left: 0!important;
        transform: translate(0, 0)!important;
    }
    p{
        width: 70%;
        margin: auto;
    }
}

@media(max-width: 998px){
    .content{
        padding-top: 0;
        top: 40%!important;
        left: 0!important;
        transform: translate(0, 0)!important;
    }
    .header_img {
        top: 35px!important;
    }
    p{
        width: 100%;
        margin: auto;
    }
    .intro {
        height: 440px!important;
    }
}

@media(max-width: 768px){
    .intro{
        height: 340px!important;
    }
}

@media(max-width: 610px){
    .content{
        p{
            display: none;
        }
    }
    .intro{
        height: 240px!important;
    }
}