<section id="find-us">

    <div class="intro">
        <div class="overflow">
            <div class="content text-center">
              <h1>Our location</h1>
              <p>Below you can find all the necessary information to contact us.</p>
            </div>
            <img src="../../../assets/img/find-us/find_us_img.png" class="img-fluid w-100 header_img" alt="">
        </div>
    </div>

    <div class="container">
      <div class="text-center">
        <h1 class="mb-5">We are here</h1>
        <div class="row">
          <div class="col-md-12">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.447851459189!2d69.2701532153445!3d41.299119909425436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b1f8eeee311%3A0x1fc003aa9dade0e8!2sEdu+Action!5e0!3m2!1sru!2s!4v1542536746152"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          
          <div class="col-lg-12 float-right col-md-12 info text-center mt-5">
            <div class="row">
              <div class="col-md-4 location-item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <h4>Phone number</h4>
                <p class="contact_info">+998 99 8898650</p>
              </div>
              <div class="col-md-4 location-item">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h4>Location</h4>
                <p class="contact_info">16, Afrosiyab street, Tashkent, <br> 
                  Uzbekistan, 100015</p>
              </div>
              <div class="col-md-4 location-item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h4>Email</h4>
                <p class="contact_info">info@cambridgeenglish.uz</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
