<section id="home">
  <div class="big-img">
    <div class="main-img"></div>
    <div class="content p-3">
      <h2 class="mt-2 title">Book your exam now!</h2>
      <input type="text" class="form-control my-3" placeholder="Your name">
      <button class="btn btn-v3">Book exam</button>
    </div>
  </div>
  
  <div class="subjects">
    <div class="container content">
      <h2>We help people learn English and prove their skills to the world</h2>
      <div class="lines mt-4">
        <div class="row">
          <div class="col-3 line"></div>
          <div class="col-3 line"></div>
          <div class="col-3 line"></div>
          <div class="col-3 line"></div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-3 col-md-6 subject">
          <a href="">
            <h3>Schools</h3>
          </a>
          <div class="underline u1 my-2"></div>
          <p>Our qualifications offer your students a structured way to improve their English. Find out how to join our
            global network of 50,000 preparation centres.</p>
        </div>
        <div class="col-lg-3 col-md-6 subject">
          <a href="">
            <h3>Learners</h3>
          </a>
          <div class="underline u2 my-2"></div>
          <p>Our qualifications offer your students a structured way to improve their English. Find out how to join our
            global network of 50,000 preparation centres.</p>
        </div>
        <div class="col-lg-3 col-md-6 subject">
          <a href="">
            <h3>Teachers</h3>
          </a>
          <div class="underline u3 my-2"></div>
          <p>We can help you to prepare your students and improve their English. We also have qualifications and
            professional development to help you get the most out of your teaching.</p>
        </div>
        <div class="col-lg-3 col-md-6 subject">
          <a href="">
            <h3>Organizations</h3>
          </a>
          <div class="underline u4 my-2"></div>
          <p>By accepting our tests and qualifications, you can access candidates from around the world who have the
            English skills to succeed. Find out how to recognise our exams.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="basic-info b-info-1">
    <div class="col-8 info-img img-1">
      <img src="../../../assets/img/home/с1.jpeg" alt="">
    </div>
  
    <div class="col-lg-4 col-md-6 info-card info-c-1">
        <div class="card text-center p-3">
          <div class="card-header mb-0 px-3 pt-4">
            <h3>Your path to learning
              English, step by step</h3>
          </div>
          <div class="card-body pt-0">
            <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and
              rewarding. Our unique approach encourages continuous progression with a clear path to improve language
              skills. We have qualifications for schools, general and higher education, and business.</p>
            <button class="btn btn-v2 rounded">Get more!</button>
          </div>
        </div>
      </div>
  </div>
  
  <div class="basic-info b-info-2">
      <div class="col-8 info-img img-2 d-block ml-auto">
        <img src="../../../assets/img/home/с2.jpeg" alt="">
      </div>
    
      <div class="col-lg-4 col-md-6 info-card info-c-2">
          <div class="card text-center p-3">
            <div class="card-header mb-0 px-3 pt-4">
              <h3>Together we inspire learners to go further</h3>
            </div>
            <div class="card-body pt-0">
              <p>Our range of free teaching resources, lesson plans and activities is designed to help you prepare your students for our exams and tests. We also have a range of teaching qualifications, courses and support to help you develop as a teacher.</p>
              <button class="btn btn-n2 rounded">Get more!</button>
            </div>
          </div>
        </div>
    </div>
    
  
    <div class="basic-info b-info-3">
        <div class="col-8 info-img img-3">
          <img src="../../../assets/img/home/с3.jpg" alt="">
        </div>
      
        <div class="col-lg-4 col-md-6 info-card info-c-3">
            <div class="card text-center p-3">
              <div class="card-header mb-0 px-3 pt-4">
                <h3>Your path to learning
                  English, step by step</h3>
              </div>
              <div class="card-body pt-0">
                <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and
                  rewarding. Our unique approach encourages continuous progression with a clear path to improve language
                  skills. We have qualifications for schools, general and higher education, and business.</p>
                <button class="btn btn-m2 rounded">Get more!</button>
              </div>
            </div>
          </div>
    </div>
  
  
  
    <div class="practice">
      <div class="container text-center">
          <h2>Improve your English skills with us!</h2>
          <p>Practice material and learning resources to help you improve your English.</p>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12"><button class="btn rounded btn-v1 mt-4">QUIZ MY ENGLISH</button></div>
            <div class="col-lg-4 col-md-4 col-12"><button class="btn rounded btn-m1 mt-4">PRACTICE MY ENG!</button></div>
            <div class="col-lg-4 col-md-4 col-12"><button class="btn rounded btn-n1 mt-4">WRITE & IMPROVE</button></div>
          </div>
      </div>
    </div>
  
</section>