$o1: rgb(240, 146, 70);
$o2: rgb(228, 156, 97);
$o3: rgb(228, 130, 51);

$do1: rgb(216, 99, 57);
$do2: rgb(214, 126, 94);
$do3: rgb(218, 78, 28);


h3,
h2 {
  font-weight: 300;
}

.subjects {
  text-align: center;
  margin: 150px 0;

  h2 {
    font-weight: 300;
  }

  .lines {
    .line {
      border-radius: 0 !important;
      height: 5px;
      background: $o1;
      animation: line-color 5s infinite;
    }
  }

  @keyframes line-color {
    0% {
      background: $o1;
    }
    50% {
      background: $do1;
    }
    100% {
      background: $o1;
    }
  }

  p {
    opacity: 0.8;
    text-align: left;
    padding: 0 8px;
  }

  .subject {
    transition: 0.2s;
  }

  a {
    color: #212529;
    text-decoration: none;
  }

  .underline {
    height: 5px;
    opacity: 0;
    margin: 0 auto;
    border-radius: 5rem;
    transition: 0.5s;
    width: 0px;
  }

  .u1 {
    background: $o1;
  }

  .u2 {
    background: $do1;
  }

  .u3 {
    background: $o1;
  }

  .u4 {
    background: $do3;
  }

  .subject:hover {
    .underline {
      opacity: 1;
      width: 50px;
    }
  }
}

.basic-info {
  padding: 0 20px;
  position: relative;
  margin-bottom: 250px;

  .info-img {
    padding: 0;
    overflow: hidden;

    img {
      width: 100%;
      transition: 1s;
    }
  }

  .img-1 {
    border-top: 10px solid $o1;
    border-radius: 0 0 0 70px;
  }

  .img-2 {
    border-top: 10px solid $do3;
    border-radius: 0 0 70px 0;
  }

  .img-3 {
    border-top: 10px solid $do1;
    border-radius: 0 0 0 70px;
  }

  .info-img:hover {
    img {
      transform: scale(1.2);
    }
  }

  .info-card {
    position: absolute;
    top: 50%;

    h3 {
      text-align: left;
    }

    .card {
      color: #fff;
      width: 400px;

      .card-header {
        border: none;
        background: transparent;
      }

      .card-body {
        p {
          text-align: left;
          font-weight: 200;
        }
      }
    }
  }

  .info-c-1 {
    right: 150px;

    .card {
      background: $o1;
      border-radius: 0 70px 70px 70px;
    }
  }

  .info-c-2 {
    left: 250px;

    .card {
      background: $do3;
      border-radius: 70px 0 70px 70px;
    }
  }

  .info-c-3 {
    right: 150px;

    .card {
      background: $do1;
      border-radius: 0 70px 70px 70px;
    }
  }
}

.b-info-1 {
  padding-left: 150px;
}

.b-info-2 {
  padding-right: 150px;
}

.b-info-3 {
  padding-left: 150px;
}

.practice {
  margin-top: 50px;

  button {
    transition: 0.2s;
  }

  button:hover {
    padding: 0.375rem 40px;
  }
}

#carouselExampleFade {
  .content {
    position: absolute;
    color: #fff;
    z-index: 9998;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-weight: 700;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.53);
    }

    p {
      width: 500px;
    }

  }

  img {
    position: relative;
    top: -25px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;
  }

}

.subject-info {
  margin-bottom: 60px;
  a {
    color: #212529;
  }
  img {
    margin-bottom: 25px;
  }
}

@media(max-width: 998px) {
  .lines {
    display: none;
  }

  .subject {
    margin-top: 30px;
  }

  .subjects {
    .row {
      margin: 0 auto;
    }
  }

  .info-card {
    position: relative !important;
    left: 0;
    top: 0;
    display: block;
    margin: 0 auto;
  }

  .info-img {
    display: none !important;
  }

  .basic-info {
    padding: 0 !important;
    margin-top: 25px;
  }

  .card {
    width: auto !important;
  }

  .info-card {
    left: 0 !important;
    right: 0 !important;
  }
  .dropdown-item {
      margin-left: 10px;
  }
}

@media(max-width: 1250px) {

  .content {
    text-align: center !important;
    left: 50% !important;
  }

  .carousel-item {
    top: 40px;
  }
}

@media(max-width: 1000px) {
  .content {
    top: 50% !important;
  }
}


@media(max-width: 998px) {
  .basic-info {
    margin-bottom: 50px !important;
  }

  #carouselExampleFade {
    img {
      top: 0px;
    }
  }

  .carousel-item {
    .content {
      p {
        display: none;
      }
    }
  }
}


@media(max-width: 768px) {
  .big-img {
    .content {
      width: 350px;
      height: 250px;
    }
  }
}
