<section id="schools">
  <div class="container">
    <div class="intro">
      <h1>Schools</h1>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>For us, learning English is more than just exams and grades. It’s about having the confidence to
            communicate
            and
            access a lifetime of enriching experiences and opportunities. Our qualifications are designed specifically
            for
            school-aged students, giving them regular milestones to keep them motivated.</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p>Working with Cambridge Assessment English means access to a comprehensive range of exams and support. We
            provide exam preparation and free resources to help teachers prepare students, and – as the world’s leading
            provider of teaching qualifications and courses – we help teachers to continually develop their
            professional
            skills.</p>
        </div>
      </div>
      <a href="" class="text-center d-block mt-4"><button class="btn btn-m3">Offer Cambridge English Qualifications</button>
      </a>
    </div>
  </div>

  <div class="advantages">

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-7 icon">
          <i class="i1 fa fa-users" aria-hidden="true"></i>
          <i class="i2 fa fa-university" aria-hidden="true"></i>
          <i class="i3 fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Cambridge English Qualifications</h4>
            <p>Assessment helps schools and students to reach the highest standards. As language learning can be a long
              process, it’s important to have regular milestones to aim for – our exams provide focus and pace to keep
              your students motivated, every step of the way.</p>
            <div class="text-center">
              <a href="/exams-and-tests/qualifications/schools/our-exams"><button class="btn btn-v2">Find out more
                  about our exams</button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1 space"></div>
      </div>
    </div>

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-1 space"></div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Support for teachers and learners</h4>
            <p>We provide a comprehensive range of exam preparation, support materials and resources for teachers who
              are preparing students to take our exams. From handbooks and sample papers to monthly webinars and
              seminars, we provide all the classroom support you need to help your students reach their potential.</p>
            <div class="text-center">
              <a href="/exams-and-tests/qualifications/schools/our-exams"><button class="btn btn-n2">Find out more
                  about our resources</button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 icon">
          <i class="i2 fa fa-bookmark-o" aria-hidden="true"></i>
          <i class="i1 fa fa-pencil" aria-hidden="true"></i>
          <i class="i3 fa fa-book" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-7 icon">
          <i class="i1 fa fa-hand-peace-o" aria-hidden="true"></i>
          <i class="i2 fa fa-thumbs-o-up" aria-hidden="true"></i>
          <i class="i3 fa fa-handshake-o" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Teacher training and development</h4>
            <p>Assessment helps schools and students to reach the highest standards. As language learning can be a
              long
              process, it’s important to have regular milestones to aim for – our exams provide focus and pace to
              keep
              your students motivated, every step of the way.</p>
            <div class="text-center">
              <a href="/exams-and-tests/qualifications/schools/our-exams"><button class="btn btn-m2">Find out more
                  about teacher development </button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-1 space"></div>
      </div>
    </div>

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-1 space"></div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Working together</h4>
            <p>It’s easy to start working with us – there are no long registration forms. Simply contact your nearest
              authorised exam centre; they will give you all the information you need to get started, including
              learning resources, training, and marketing materials.</p>
            <div class="text-center">
              <a href="/exams-and-tests/qualifications/schools/our-exams"><button class="btn btn-n2">Find out how to
                  become a preparation centre</button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 icon">
          <i class="i2 fa fa-phone" aria-hidden="true"></i>
          <i class="i1 fa fa-building-o" aria-hidden="true"></i>
          <i class="i3 fa fa-file-text-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="levels">
    <h2>Let’s look in more detail at the learning journey</h2>
    <div class="container">
      <div class="col-lg-6 col-md-8 col-12 mx-auto text-center">
        <p>We offer a seamless journey from Pre A1 Starters to C2 Proficiency. Each exam is carefully designed to
          consolidate the skills developed at the previous level, and lay the foundations for future success. </p>
      </div>

      <a href="#">
        <div class="lvl pre-lvl text-center mt-5">
          <div class="level btn-n2">
            <span class="pre">Pre</span>
            <h2>A1</h2>
          </div>
          <h4>First for Schools (FCE)</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This is the first of three exams for young learners. All three exams help younger children take their
              first steps towards learning English.</p>
          </div>
          <button class="btn btn-n2">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-n3">
            <h2>A1</h2>
          </div>
          <h4>Movers (YLE Movers)</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This is the second exam created specifically for younger children. All our exams for young learners are
              fun, colourful and activity based, motivating children to learn.</p>
          </div>
          <button class="btn btn-n3">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-v1">
            <h2>A2</h2>
          </div>
          <h4>A2 Flyers</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This is the third exam created specifically for younger children. These exams build young learners’
              confidence and lay the foundations for future success in English.</p>
          </div>
          <button class="btn btn-v1">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-v2">
            <h2>A2</h2>
          </div>
          <h4>A2 Key for Schools</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This qualification helps learners to fully develop their everyday written and spoken English at Level
              A2. The exam builds on the skills students have achieved at A2 Flyers.</p>
          </div>
          <button class="btn btn-v2">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-m3">
            <h2>B1</h2>
          </div>
          <h4>B1 Preliminary for Schools</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This is an intermediate-level qualification for students who have mastered the basics of English and now
              have practical language skills for everyday use.</p>
          </div>
          <button class="btn btn-m3">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-m1">
            <h2>B2</h2>
          </div>
          <h4>B2 First for Schools</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This qualification is a great way for learners to prepare for higher level exams, and shows they have
              the language skills needed to communicate confidently in an English-speaking environment.</p>
          </div>
          <button class="btn btn-m1">More information</button>
        </div>
      </a>




    </div>
  </div>

</section>
