 <section id="level">
    <div class="container mt-5">
      <div class="row mb-2 title">
        <div class="col-lg-6 col-md-12 col-12">
          <h2 class="drop-content-item d-inline-block">B2 First
            <a class="mx-2" routerLink="/book-exam">
              <button class="btn btn-v2 btn-sm">Book a test!</button>
            </a>
          </h2>
        </div>
        <div class="col-lg-6 col-md-12 col-12 text-right p-0 btn-links">
          <a class="mx-1" id="commonInfo"><button class="btn btn-m2 btn-sm">Common info</button></a>
          <a class="mx-1" id="testFormat"><button class="btn btn-m2 btn-sm">Exam format</button></a>
          <a class="mx-1" id="preparationBtn"><button class="btn btn-m2 btn-sm">Preparation</button></a>
          <a class="mx-1" id="resultBtn"><button class="btn btn-m2 btn-sm">Results</button></a>
        </div>
      </div>
      <div class="line"></div>
      <div class="row mx-auto">
        <div class="col-lg-3 col-cd-5 mx-auto sidebar-menu">
          <h5 data-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="sidebar">General
            and higher levels<i class="fa fa-list pt-2"></i></h5>
          <div class="sidebar collapse" id="sidebar">
            <ul class="list-unstyled">
              <li *ngFor="let sidebarItem of sidebarItems">
                <a routerLink="/{{sidebarItem.link}}">{{sidebarItem.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-md-12 subItem mt-4">
  
          <section id="main-info" class="navigation-level">
            <div class="row">
              <div class="col-lg-1 col-md-1 col-2 title-icon p-0">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <p>B2 First, formerly known as Cambridge English: First (FCE), is one of our  <a href="/exams-tests/qualifications">Cambridge
                    English Qualifications</a>. It is our most popular exam, accepted by thousands of businesses and educational institutions worldwide.</p>
              </div>
            </div>
  
            <hr>
  
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p>A B2 First qualification proves you have the language skills to live and work independently in an English-speaking country or study on courses taught in English.</p>
                <p>This exam is the logical step in your language learning journey between <a routerLink="/exams-tests/general-higher/preliminary">B1 Preliminary</a> and <a routerLink="/exams-tests/general-higher/advanced">C1 Advanced</a>.</p>
              </div>
  
              <div class="col-lg-6 col-md-6 pl-4 mt-5">
                <h4>Key facts</h4>
                <div class="short-line btn-v2 my-3"></div>
                <p><strong>CEFR level:</strong> B2 <a target="_blank" href="/exams-tests/cefr">What's this?</a></p>
                <p><strong>Scale score:</strong> 160–179 <a target="_blank" href="/exams-tests/cefr">What's this?</a></p>
                <p><strong>Test format:</strong> Computer or paper-based </p>
                <p><strong>No. of papers:</strong> 4</p>
                <p><strong>Test length:</strong> About 3.5 hours </p>
              </div>
            </div>
  
            <hr>
  
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <strong>
                  <p>A B2 First qualification shows that you can:</p>
                </strong>
                <div class="short-line btn-v2 my-3"></div>
                <ul class="mb-li">
                  <li><strong>communicate effectively face-to-face, expressing opinions and presenting arguments</strong></li>
                  <li><strong>follow the news</strong></li>
                  <li><strong>write clear, detailed English, expressing opinions and explaining the advantages and disadvantages of different points of view</strong></li>
                  <li><strong>write letters, reports, stories and lots of other types of text.</strong></li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <strong>
                  <p>Reasons to choose B2 First:</p>
                </strong>
                <div class="short-line btn-v2 my-3"></div>
                <ul class="mb-li">
                  <li><strong>Accepted for entry to foundation/pathway/pre-sessional courses in English-speaking countries.</strong></li>
                  <li><strong>Accepted for entry to undergraduate programmes taught in the medium of English in non-English-speaking countries.</strong></li>
                </ul>
              </div>
            </div>
  
          </section>
  
  
  
  
          <!-- Exam format -->
  
  
  
  
          <section id="test-format" class="navigation-level">
            <h2>Exam format</h2>
            <p>B2 First is a test of all areas of language ability.</p>
            <p>The updated exam (for exam sessions from January 2015) is made up of four papers developed to test your English language skills. You can see exactly what’s in each paper below.</p>
            <p>The Speaking test is taken face to face, with two candidates and two examiners. This creates a more realistic and reliable measure of your ability to use English to communicate.</p>
            <div class="table-responsive">
              <table class="table my-5">
                <thead class="btn-v2">
                  <tr>
                    <th scope="col">Paper</th>
                    <th scope="col">Content</th>
                    <th scope="col">Purpose</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Reading and Use of English </strong> <br> 1 hour 15 minutes <br>
                      <a href="https://www.cambridgeenglish.org/Images/174037-first-2015-sample-papers-1.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td>
                      Reading: <strong>7</strong> parts / <strong>52</strong> questions
                    </td>
                    <td>
                      <p>Shows you can deal confidently with different types of text, such as fiction, newspapers and magazines. Tests your use of English with tasks that show how well you can control your grammar and vocabulary.</p>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Writing </strong> <br> 1 hour 20 minutes <br>
                      <a href="https://www.cambridgeenglish.org/Images/174037-first-2015-sample-papers-1.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td><strong>2</strong> parts</td>
                    <td>
                      <p>Requires you to be able to produce two different pieces of writing, such as letters, reports, reviews and essays.</p>
                    </td>
                  </tr>
                  <tr>
                  <tr>
                    <td><strong>Listening </strong> <br> about 40 minutes <br>
                      <a href="https://www.cambridgeenglish.org/Images/174037-first-2015-sample-papers-1.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td><strong>4</strong> parts / <strong>30</strong> questions </td>
                    <td>
                      <p>Requires you to be able to follow and understand a range of spoken materials, such as news programmes, presentations and everyday conversations.</p>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Speaking </strong> <br> 14 minutes per pair of candidates <br>
                      <a href="https://www.cambridgeenglish.org/Images/174037-first-2015-sample-papers-1.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td><strong>4</strong> parts</td>
                    <td class="sm">
                      <p>Tests your ability to communicate effectively in face to face situations. You will take the Speaking test with one or two other candidates.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <hr>
  
            <div class="modules">
              <div class="menu">
                <div class="row">
                  <div id="read_write_btn" class="col-3 menu-item active-menu">
                    <p>
                      <i class="fa fa-book" aria-hidden="true"></i><span class="menu-title"> Reading</span>
                    </p>
                  </div>
                  <div id="writing_btn" class="col-3 menu-item">
                    <p>
                      <i class="fa fa-microphone" aria-hidden="true"></i><span class="menu-title"> Writing</span>
                    </p>
                  </div>
                  <div id="listening_btn" class="col-3 menu-item">
                    <p>
                      <i class="fa fa-music" aria-hidden="true"></i><span class="menu-title"> Listening</span>
                    </p>
                  </div>
                  <div id="speaking_btn" class="col-3 menu-item">
                    <p>
                      <i class="fa fa-microphone" aria-hidden="true"></i><span class="menu-title"> Speaking</span>
                    </p>
                  </div>
                </div>
  
                <div class="row mt-5">
                  <div class="col-12 module" id="reading_writing">
                    <h4><i class="fa fa-book" aria-hidden="true"></i> What’s in the Reading and Use of English paper? <i class="fa fa-pencil"></i>
                    </h4>
                    <p>The B2 First Reading and Use of English paper is in seven parts and has a mix of text types and questions.</p>
                    <p><strong>For Parts 1 to 4</strong>, you read a range of texts and do grammar and vocabulary tasks.</p>
                    <p><strong>For Parts 5 to 7</strong>, you read a series of texts and answer questions that test your reading ability and show that you can deal with a variety of different types of texts.</p>
                    <p><strong>Summary</strong></p>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Time allowed:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 hour 15 minutes</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of parts:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>7</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of questions:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>52</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Marks:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>40% of total</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Length of texts:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>About 2,200 words to read in total.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Texts may be from:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Newspapers and magazines, journals, books (fiction and non-fiction), promotional and informational material.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 1 (Multiple-choice cloze)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 1?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A text with some multiple-choice questions. Each question has four options (A, B, C or D) – you have to decide which is the correct answer.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Vocabulary – idioms, collocations, shades of meaning, phrasal verbs, fixed phrases etc.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>8</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 2 (Open cloze)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 2?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A text in which there are some gaps, each of which represents one missing word. You have to think of the correct word for each gap.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Grammar and vocabulary.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>8</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 3 (Word formation)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 3?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A text containing eight gaps. Each gap represents a word. At the end of the line is a ‘prompt’ word which you have to change in some way to complete the sentence correctly.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Vocabulary.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>8</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 4 (Key word transformations)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 4?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Each question consists of a sentence followed by a ‘key’ word and a second sentence with a gap in the middle. You have to use this key word to complete the second sentence so that it has a similar meaning to the first sentence.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Grammar and vocabulary.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>6</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Up to 2 marks for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 5 (Multiple choice)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Part 5 (Multiple-choice cloze)</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A text with some multiple-choice questions. For each question, there are four options and you have to choose A, B, C or D.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Reading for detail, opinion, tone, purpose, main idea, implication, attitude.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>6</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>2 marks for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 6 (Gapped text)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 6?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A single page of text with some numbered gaps which represent missing paragraphs. After the text there are some paragraphs which are not in the right order. You have to read the text and the paragraphs and decide which paragraph best fits each gap.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>How to understand the structure and development of a text.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>6</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>2 marks for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 7 (Multiple matching)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What’s in Part 7?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A series of statements followed by a text divided into sections or several short texts. You have to match each statement to the section or text in which you can find the information.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Reading for specific information, detail, opinion and attitude.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-12 module" id="writing">
                    <h4><i class="fa fa-pencil mr-2" aria-hidden="true"></i> What’s in the Writing paper?</h4>
                    <p>In the two parts of the B2 First Writing paper, you have to show that you can write different types of text in English.</p>
                    <br>
                    <h5>Summary</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Time allowed:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 hour 20 minutes</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of parts:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>2</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of questions:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Part 1: one compulsory question, Part 2: one question from a choice of three </p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Types of task:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Articles, email, essay, letter, report, review.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 1 (Compulsory question)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 1?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>You’re given an essay title and two ideas clearly linked to the title. You write an essay giving your opinions about the title, using the ideas given. You must also add a third, different idea of your own linked to the title. The title will be a subject of general interest – you won’t need any specialised knowledge.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Using language functions, such as evaluating, expressing opinions, hypothesising, justifying, persuading.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>One compulsory question.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How much do I have to write?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>140–190 words</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 2 (Situationally based writing task)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 2?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>You write a text from a choice of text types – article, email/letter, report or review. To guide your writing, you’ll be given information about context, topic purpose and target reader.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Writing different types of text that could be included in the exam.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>One task to be selected from a choice of three.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How much do I have to write?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>140–190 words</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12 module" id="listening">
                    <h4><i class="fa fa-microphone" aria-hidden="true"></i> What’s in the Speaking paper?</h4>
                    <p>The B2 First Listening paper has four parts. For each part you have to listen to a recorded text or texts and answer some questions. You hear each recording twice.</p>
                    <br>
                    <h5>Summary</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Time allowed:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>About 40 minutes</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of parts:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>4</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of questions:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>30</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Marks:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>20% total</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Recordings may be from:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Monologues: answer phone messages, radio broadcasts and features, news, public announcements, stories and anecdotes, lectures and talks; or interacting speakers: conversations, interviews, discussions, radio plays.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 1 (Multiple choice)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 1?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Eight short extracts from monologues or conversations between interacting speakers. There is one multiple-choice question for each extract, and you have to choose A, B or C.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Listening for feeling, attitude, opinion, purpose, function, agreement, gist and detail.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>8</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 2 (Sentence completion)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 2?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>The examiner gives you some pictures and describes a situation to you. You have to talk to the
                          other candidate and decide what would be best in the situation.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Making and responding to suggestions, discussing alternatives, making recommendations,
                          negotiating agreement.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>10</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 3 (Multiple matching)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 3?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A series of five themed monologues of approximately 30 seconds each. On the question paper, you have to select five correct options from a list of eight possible answers.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Listening for gist, attitude, opinion, purpose, feeling, main points and detail.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>5</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 4 (Multiple choice)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 4?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>A conversation between two or more speakers of approximately 3–4 minutes. You have to answer some multiple-choice questions by choosing the correct answer from three options (A, B or C).</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Listening for attitude, opinion, detail, gist, main idea and specific information.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many questions are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>7</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How many marks are there?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 mark for each correct answer.</p>
                      </div>
                    </div>
  
                  </div>
  
                  <div class="col-12 module" id="speaking">
                    <h4><i class="fa fa-microphone" aria-hidden="true"></i> What’s in the Speaking paper?</h4>
                    <p>The B2 First Speaking test has four parts and you take it together with another candidate.</p>
                    <p>There are two examiners. One of the examiners asks you questions and gives you the booklet with things to talk about. The other examiner listens to what you say.</p>
                    <br>
                    <h5>Summary</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Time allowed:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>14 minutes per pair of candidates</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Number of parts:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>4</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>Marks:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>20% total</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>You have to talk:</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>with the examiner <br>
                          with the other candidate <br>
                          on your own</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 1 (Interview)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 1?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Conversation with the examiner. The examiner asks questions and you may have to give information about your interests, studies, career, etc.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Giving information about yourself and expressing your opinion about various topics.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How long do we have to speak?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>2 minutes</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 2 (Long turn)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 2?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>The examiner gives you two photographs and asks you to talk about them. You have to speak for 1 minute without interruption and the interlocutor then asks the other candidate to comment on your photographs for about 30 seconds. 
                          The other candidate receives a different set of photographs and you have to listen and comment when they have finished speaking. The question you have to answer about your photographs is written at the top of the page to remind you what you should talk about..</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Talking on your own about something: comparing, describing, expressing opinions, speculating.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How long do we have to speak?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>1 minute per candidate</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 3 (Collaborative task)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 3?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Conversation with the other candidate. The examiner gives you some material and a task to do. You have to talk with the other candidate and make a decision.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Exchanging ideas, expressing and justifying opinions, agreeing and/or disagreeing, suggesting, speculating, evaluating, reaching a decision through negotiation, etc.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How long do we have to speak?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>3 minutes (a 2-minute discussion followed by a 1-minute decision-making task)</p>
                      </div>
                    </div>
  
                    <hr>
  
                    <h5>Part 4 (Discussion)</h5>
                    <div class="row mt-4">
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What's in Part 4?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Further discussion with the other candidate, guided by questions from the examiner, about the topics or issues raised in the task in Part 3.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>What do I have to practise?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>Expressing and justifying opinions, agreeing and/or disagreeing.</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-12 info-title">
                        <p>How long do we have to speak?</p>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                        <p>4 minutes</p>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
  
          </section>
  
          <section id="preparation" class="navigation-level">
            <h2>Preparation</h2>
            <p>Free: Paper-based sample test</p>
            <a href="https://www.cambridgeenglish.org/Images/174037-first-2015-sample-papers-1.zip" class="text-a zip">
              Download sample papers 1 for B2 First
            </a>
            <a href="https://www.cambridgeenglish.org/Images/178516-first-2015-sample-paper-2.zip" class="text-a zip">
              Download sample papers 2 for B2 First
            </a>
  
            <hr>
  
            <h2>Free: Computer-based sample tests</h2>
            <p clatoss="mt-3">You will need to use the Firefox browser  access these sample tests. You can
              <a href="http://www.mozilla.org/en-US/">download Firefox for free here</a>.
              Once downloaded, open Firefox and use the links below to view the tests.</p>
            <p><a href="https://www.youtube.com/watch?v=KLt_f4hED1Q&feature=youtu.be">Watch this tutorial</a> before you
              start to help you understand what you need to do. </p>
            <p class="mt-5">
              <strong>
                Check your answers as you do the test. Once the test has finished you will not be able to check them.
              </strong>
            </p>
            <a class="text-dark" href="https://s3-eu-west-1.amazonaws.com/cbpt/2015/fce-reading-and-uoe/index.html"><i class="fa fa-pencil"></i>
              Reading and Use of English sample test
            </a>
            <br>
            <a class="text-dark" href="https://s3-eu-west-1.amazonaws.com/cbpt/2015/fce-listening/index.html"> <i class="fa fa-headphones"></i>
              Listening sample test
            </a>
            <p class="mt-5">
              <strong>
                Use the answer keys below:
              </strong>
            </p>
            <a target="_blank" href="https://www.cambridgeenglish.org/Images/139382-cb-fce-reading-key.pdf" class="text-a">
              Reading and Use of English answer key
            </a>
            <br>
            <a target="_blank" href="https://www.cambridgeenglish.org/Images/139383-cb-fce-listening-key.pdf" class="text-a">
              Listening answer key
            </a>
            <p class="mt-5">There is no answer key for Writing Parts 2 and 3 of the Reading and Writing paper, but there are sample
              answers and examiner comments in the <a href="https://www.cambridgeenglish.org/Images/167791-cambridge-english-first-handbook.pdf">relevant pages of the B2 First handbook</a>.</p>
  
            <hr>
  
            <h4>Free: English practice</h4>
            <p>Free online activities for reading, writing, listening, grammar, pronunciation and vocabulary. </p>
            <a target="_blank" href="https://www.cambridgeenglish.org/learning-english/activities-for-learners/?level=independent&rows=12"
              class="text-dark"> <i class="fa fa-search"></i> Search for free English activities</a>
  
            <hr>
  
            <h4>Information for candidates</h4>
            <p>A guide to the exam, with advice on preparing for the exam, tips for exam day and useful links.</p>
            <a href="https://www.cambridgeenglish.org/Images/181310-first-information-for-candidates-.pdf" class="text-a">
              Download B2 First information for candidates
            </a>
  
            <hr>
  
            <h4>Frequently asked questions and exam day tips</h4>
            <a href="https://www.cambridgeenglish.org/Images/230314-cambridge-english-first-faqs.pdf" class="text-a">
              B2 First FAQs</a><br>
            <a href="https://www.cambridgeenglish.org/Images/25008-paper-based-exam-document.pdf" class="text-a">
              Exam day tips – paper-based exams</a><br>
            <a href="https://www.cambridgeenglish.org/Images/25009-computer-based-exam.pdf" class="text-a">
              Exam day tips – computer-based exams</a>
  
            <hr>
  
            <h4>Games and social media</h4>
            <p>Have fun learning by playing our <a target=_blank href="https://www.cambridgeenglish.org/learning-english/parents-and-children/activities-for-children/">free English games</a>. You can practice your English with other language learners on our <a href="https://www.facebook.com/CambridgeEnglish">Cambridge English Facebook page</a>..</p>
  
            <hr>
  
            <h4>Official Cambridge English preparation materials</h4>
            <p>You can find a wide range of official Cambridge English support materials from Cambridge Assessment
              English and Cambridge University Press. Support materials include coursebooks and practice tests and
              include materials in both print and digital formats.</p>
            <div class="row preparation mt-5">
  
              <div class="col-lg-10 col-md-10 prep-item mb-4 p-0" *ngFor="let material of materials">
                <div class="row">
                  <div class="col-3 p-0">
                    <div class="prep-img">
                      <img src="{{material.img}}" alt="">
                    </div>
                    <a target="_blank" href="{{material.link}}">
                      <button class="btn btn-dark btn-nbr buy-book w-100">{{material.action}}</button>
                    </a>
                  </div>
                  <div class="col-9">
                    <h5>{{material.name}}</h5>
                    <p>{{material.info}}</p>
                  </div>
                </div>
              </div>
  
            </div>
          </section>
  
          <section id="results" class="navigation-level">
            <h2>Results</h2>
            <p>B2 First results are reported on the <a href="/exams-tests#qualifications-table">Cambridge
                English Scale</a>.</p>
            <p>You will receive a separate score for each of the four skills (reading, writing, listening and speaking) and use of English, giving you a clear understanding of your performance. These five scores are averaged to give you an overall result for the exam. You will also be given a grade and <a target="_blank" routerLink="/exams-tests/cefr">Common European Framework of Reference for Languages</a> (CEFR) level.</p>
            <a target="_blank" href="https://www.cambridgeenglish.org/Images/167506-cambridge-english-scale-factsheet.pdf"
              class="text-a">For more information about the Cambridge English Scale, download our factsheet</a>
  
            <hr>
  
            <h2>When will I get my B2 First Statement of Results?</h2>
            <p>All candidates receive a <strong>Statement of Results</strong>, and if you are successful in the exam you
              will also receive a <strong>certificate</strong>.</p>
            <p>Your Statement of Results is released online, approximately four to six weeks after the exam for
              paper-based exams, and two to three weeks after the exam for computer-based exams. The fastest way to get
              your results is to sign up to our <a href="https://candidates.cambridgeenglish.org/Members/Login.aspx?M=None">free
                online results service</a>.</p>
  
            <hr>
  
            <h2>When will I get my B2 First certificate?</h2>
            <p>We send your certificate to our office Edu-Action <strong>about three weeks after results are available.
                Our office Edu-Action</strong> then sends it on to you.</p>
            <p>Your certificate will be sent to your centre seven to nine weeks after the date of your exam.</p>
          </section>
  
        </div>
      </div>
    </div>
  </section>
  