<section id="prepare">
  <div class="text-center slider">
    <div class="content">
      <h1>Preparation</h1>
      <div class="col-lg-3 col-md-6 col-10 p-0">
        <p>We have lots of free online activities to help teenagers and adults practise their English.</p>
      </div>
    </div>
  </div>

  <div class="prepare-intro text-center">

    <h1>Select a level to prepare</h1>
    <div class="line mb-5"></div>

    <div class="container">
      <div class="row levels">
        <div class="col-lg-5 col-md-6 mx-auto">
          <h3 class="my-5 text-center">For Schools</h3>

          <a routerLink="/exams-tests/schools/first-for-schools">
            <div class="lvl">
              <div class="level btn-m1">
                <h4>B2</h4>
              </div>
              <p>First for Schools (FCE)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/preliminary-for-schools">
            <div class="lvl">
              <div class="level btn-m3">
                <h4>B1</h4>
              </div>
              <p>Preliminary for Schools (PET)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/key-for-schools">
            <div class="lvl">
              <div class="level btn-v2">
                <h4>A2</h4>
              </div>
              <p>Key for Schools (KET)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/flyers">
            <div class="lvl">
              <div class="level btn-v1">
                <h4>A2</h4>
              </div>
              <p>Flyers (YLE Flyers)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/movers">
            <div class="lvl">
              <div class="level btn-n1">
                <h4>A1</h4>
              </div>
              <p>Movers (YLE Movers)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/starters">
            <div class="lvl pre-lvl">
              <div class="level btn-n2">
                <h4><span class="pre">Pre</span> A1</h4>
              </div>
              <p>Starters (YLE Starters)</p>
            </div>
          </a>

        </div>

        <div class="col-lg-5 col-md-6 mx-auto">

          <h3 class="my-5 text-center">General and higher education</h3>

          <a routerLink="/exams-tests/general-higher/advanced">
            <div class="lvl">
              <div class="level btn-m1">
                <h4>C1</h4>
              </div>
              <p>Advanced (CAE)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/general-higher/first">
            <div class="lvl">
              <div class="level btn-v1">
                <h4>B2</h4>
              </div>
              <p>First (FCE)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/general-higher/preliminary">
            <div class="lvl">
              <div class="level btn-m2">
                <h4>B1</h4>
              </div>
              <p>Preliminary (PET)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/general-higher/key">
            <div class="lvl">
              <div class="level btn-v2">
                <h4>A2</h4>
              </div>
              <p> Key (KET)</p>
            </div>
          </a>
        </div>
      </div>

    </div>

    <hr>

    <div class="other-sources">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-12 prep-item">
            <a href="https://www.cambridgeenglish.org/learning-english/activities-for-learners/"><i class="fa fa-pencil" aria-hidden="true"></i> Free activities</a>
          </div>
          <div class="col-lg-2 col-md-4 col-12 prep-item">
            <a href=""><i class="fa fa-book" aria-hidden="true"></i> Exam preparation</a>
          </div>
          <div class="col-lg-2 col-md-4 col-12 prep-item">
            <a href=""><i class="fa fa-user" aria-hidden="true"></i> Test your English</a>
          </div>
          <div class="col-lg-2 col-md-4 col-12 prep-item">
            <a href=""><i class="fa fa-users" aria-hidden="true"></i> Parents and children</a>
          </div>
          <div class="col-lg-2 col-md-4 col-12 prep-item">
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i> Games and social media</a>
          </div>
          <div class="col-lg-2 col-md-4 col-12 prep-item">
            <a href=""><i class="fa fa-dropbox" aria-hidden="true"></i> More resources</a>
          </div>
        </div>
      </div>

      <hr>

  </div>

</section>