<section id="level">
  <div class="container mt-5">
    <div class="row mb-2 title">
      <div class="col-lg-6 col-md-12 col-12">
        <h2 class="drop-content-item d-inline-block">B1 Preliminary
          <a class="mx-2" routerLink="/book-exam">
            <button class="btn btn-v2 btn-sm">Book a test!</button>
          </a>
        </h2>
      </div>
      <div class="col-lg-6 col-md-12 col-12 text-right p-0 btn-links">
        <a class="mx-1" id="commonInfo"><button class="btn btn-m2 btn-sm">Common info</button></a>
        <a class="mx-1" id="testFormat"><button class="btn btn-m2 btn-sm">Exam format</button></a>
        <a class="mx-1" id="preparationBtn"><button class="btn btn-m2 btn-sm">Preparation</button></a>
        <a class="mx-1" id="resultBtn"><button class="btn btn-m2 btn-sm">Results</button></a>
      </div>
    </div>
    <div class="line"></div>
    <div class="row mx-auto">
      <div class="col-lg-3 col-cd-5 mx-auto sidebar-menu">
        <h5 data-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="sidebar">General
          and higher levels<i class="fa fa-list pt-2"></i></h5>
        <div class="sidebar collapse" id="sidebar">
          <ul class="list-unstyled">
              <li *ngFor="let sidebarItem of sidebarItems" routerLinkActive="active">
              <a routerLink="/{{sidebarItem.link}}">{{sidebarItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 subItem mt-4">

        <section id="main-info" class="navigation-level">
          <div class="row">
            <div class="col-lg-1 col-md-1 col-2 title-icon p-0">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-10">
              <p>B1 Preliminary, formerly known as Cambridge English: Preliminary (PET), is one of our <a routerLink="/exams-tests/general-higher">Cambridge
                  English Qualifications</a>. It is the English language exam that shows you have mastered the basics.</p>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <p>A B1 Preliminary qualification shows that you have mastered the basics of English and now have
                practical language skills for everyday use.</p>
              <p>This exam is the logical step in your language learning journey between <a routerLink="/exams-tests/general-higher/key">A2
                  Key</a> and <a routerLink="/exams-tests/general-higher/first">B2 First</a>.</p>
            </div>

            <div class="col-lg-6 col-md-6 pl-4 mt-5">
              <h4>Key facts</h4>
              <div class="short-line btn-v2 my-3"></div>
              <p><strong>CEFR level:</strong> B1 <a target="_blank" routerLink="/exams-tests/cefr">What's this?</a></p>
              <p><strong>Scale score:</strong> 140–159 <a target="_blank" routerLink="/exams-tests/cefr">What's this?</a></p>
              <p><strong>Test format:</strong> Computer or paper-based </p>
              <p><strong>No. of papers:</strong> 3</p>
              <p><strong>Test length:</strong> About 2 hours 20 minutes </p>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <strong>
                <p>A B1 Preliminary qualification shows that you can:</p>
              </strong>
              <div class="short-line btn-v2 my-3"></div>
              <ul class="mb-li">
                <li><strong>read simple textbooks and articles in English</strong></li>
                <li><strong>write letters and emails on everyday subjects</strong></li>
                <li><strong>take meeting notes</strong></li>
                <li><strong>show awareness of opinions and mood in spoken and written English.</strong></li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-6">
              <strong>
                <p>Reasons to choose B1 Preliminary:</p>
              </strong>
              <div class="short-line btn-v2 my-3"></div>
              <ul class="mb-li">
                <li><strong>Develop your ability to communicate in English for practical tasks and situations.</strong></li>
                <li><strong>Gain a valuable qualification that is accepted worldwide.</strong></li>
                <li><strong>Improve your work, study and travel prospects.</strong></li>
              </ul>
            </div>
          </div>

        </section>




        <!-- Exam format -->




        <section id="test-format" class="navigation-level">
          <h2>Exam format</h2>
          <p>B1 Preliminary is made up of three papers developed to test your English skills. You can see exactly
            what’s in each paper below.</p>
            <div class="table-responsive">
              <table class="table my-5">
                <thead class="btn-v2">
                  <tr>
                    <th scope="col">Paper</th>
                    <th scope="col">Content</th>
                    <th scope="col sm-table-mark">Marks (% of total)</th>
                    <th scope="col">Purpose</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Reading and Writing </strong> <br> 1 hour 30 minutes <br>
                      <a href="https://www.cambridgeenglish.org/Images/23318-preliminary-sample-paper-6.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td>
                      Reading: <strong>5</strong> parts / <strong>35</strong> questions
                    </td>
                    <td class="sm-table-mark">
                      <strong>50%</strong>
                    </td>
                    <td>
                      <p>Shows you can read and understand the main points from signs, newspapers and magazines, and can
                        use vocabulary and structure correctly.</p>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Listening </strong> <br> 36 minutes, including 6 minutes' transfer time <br>
                      <a href="https://www.cambridgeenglish.org/Images/23318-preliminary-sample-paper-6.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td><strong>4</strong> parts / <strong>25</strong> questions </td>
                    <td class="sm-table-mark">
                      <strong>25%</strong>
                    </td>
                    <td>
                      <p>You have to be able to follow and understand a range of spoken materials including announcements
                        and discussions about everyday life.</p>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Speaking </strong> <br> 10–12 minutes per pair of candidates <br>
                      <a href="https://www.cambridgeenglish.org/Images/22103-key-sample-papers-1.zip" class="text-a zip">See
                        sample paper</a>
                    </td>
                    <td><strong>4</strong> parts</td>
                    <td class="sm-table-mark">
                      <strong>25%</strong>
                    </td>
                    <td class="sm">
                      <p>Shows how good your spoken English is as you take part in conversation by asking/answering
                        questions and talking, for example, about your likes and dislikes. Your Speaking test will be
                        conducted face to face with one or two other candidates and two examiners. This makes your test
                        more realistic and more reliable.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          <hr>

          <div class="modules">
            <div class="menu">
              <div class="row">
                <div id="read_write_btn" class="col-4 menu-item active-menu">
                  <p>
                    <i class="fa fa-book" aria-hidden="true"></i><span class="menu-title"> Reading and Writing</span>
                  </p>
                </div>
                <div id="listening_btn" class="col-4 menu-item">
                  <p>
                    <i class="fa fa-music" aria-hidden="true"></i><span class="menu-title"> Listening</span>
                  </p>
                </div>
                <div id="speaking_btn" class="col-4 menu-item">
                  <p>
                    <i class="fa fa-microphone" aria-hidden="true"></i><span class="menu-title"> Speaking</span>
                  </p>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-12 module" id="reading_writing">
                  <h4><i class="fa fa-book" aria-hidden="true"></i> What’s in the Reading and Writing paper? <i class="fa fa-pencil"></i>
                  </h4>
                  <p>The B1 Preliminary Reading and Writing paper has five parts about reading and three parts about
                    writing. There are different types of texts and questions.</p>
                  <p><strong>Summary</strong></p>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Time allowed:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>1 hour 30 minutes</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Number of parts:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Reading: 5; Writing: 3</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Number of questions:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Reading: 35; Writing: 7</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Marks:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>50% of total</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Reading Part 1 (Multiple choice)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 1?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Five very short texts (they may be signs and messages, postcards, notes, emails, labels,
                        etc.). You have to read them and choose which of the three sentences (A, B or C) is the best
                        description of the text.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Reading notices and other short texts to understand the main message.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>5</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Reading Part 2 (Matching)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 2?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Five short descriptions of people and eight short texts to read. You have to match each person
                        to a text.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Reading eight short texts to find specific information.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>5</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Reading Part 3 (True/False)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 3?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>A long text and 10 sentences about the text. You have to read the text and say if each
                        sentence is true or false.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Reading a text quickly to find out information.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>10</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Reading Part 4 (Multiple choice)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 4?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>A long text and five questions. You have to read the text and choose the right answer (A, B, C
                        or D) for each of the five questions.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Reading to understand the detail of a text.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>5</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Reading Part 5 (Multiple-choice cloze)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Part 5 (Multiple-choice cloze)</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p> A short text with 10 numbered spaces. Each space represents a missing word and you have to
                        choose the right answer from a choice of four (A, B, C or D).</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Understanding vocabulary and grammar.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>10</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Writing Part 1 (Sentence transformations)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 1?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Five questions which are all about the same theme. For each question there is one complete
                        sentence and a second sentence which has a missing word or words. You have to complete the
                        second sentence so that it means the same as the first sentence.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>How to say the same thing in different ways in English, e.g. 'not warm enough' means the same
                        as 'too cold'.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>5</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Writing Part 2 (Short communicative message)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What’s in Part 2?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>The instructions tell you who to write to and what you should write (a postcard, note, email,
                        etc.).</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Writing short messages.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>1</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How much do I have to write?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>35–45 words</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>This question has a total of 5 marks.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Writing Part 3 (Continuous writing)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 3?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>You have a choice of two questions: an informal letter or a story.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Writing letters and stories.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>1</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How much do I have to write?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>About 100 words</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>This question has a total of 15 marks.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 module" id="listening">
                  <h4><i class="fa fa-music mr-2" aria-hidden="true"></i> What’s in the Listening paper?</h4>
                  <p>The B1 Preliminary Listening paper has four parts. For each part, you have to listen to a recorded
                    text or texts and answer some questions. You hear each recording twice.</p>
                  <br>
                  <h5>Summary</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Time allowed:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>36 minutes, including 6 minutes to copy your answers onto the answer sheet.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Number of parts:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>4</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Number of questions:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>25</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Marks:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>25% of total</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 1 (Multiple choice)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 1?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Seven short recordings. For each recording there is a question and three pictures (A, B or C).
                        You have to listen to the recordings and choose the right answers.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Listening to find key information.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>7</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 2 (Multiple choice)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 2?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>A longer recording (one person speaking or an interview) and six questions. You have to listen
                        to the recording and choose the right answer (A, B or C) for each question.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Listening to find specific information and detailed meaning.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>6</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 3 (Gap-fill)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 3?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>A longer monologue (one person speaking) and a page of notes which summarise the text. Six
                        pieces of information are missing from the notes. You have to listen to the recording and fill
                        in the missing information.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Listening for information.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>6</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 4 (True/False)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 4?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>A longer informal conversation and six sentences. You have to listen to the conversation and
                        decide if each sentence is true or false.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Listening for detailed meaning, attitude and opinion.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many questions are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>6</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How many marks are there?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>One mark for each correct answer.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 module" id="speaking">
                  <h4><i class="fa fa-microphone" aria-hidden="true"></i> What’s in the Speaking paper?</h4>
                  <p>The B1 Preliminary Speaking test has four parts and you take it together with another candidate.
                    There are two examiners. One of the examiners talks to you and the other examiner listens.</p>
                  <br>
                  <h5>Summary</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Time allowed:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>10–12 minutes per pair of candidates</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Number of parts:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>4</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>Marks:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>25% of total</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>You have to talk:</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>with the examiner <br>
                        with the other candidate <br>
                        on your own</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 1 (Interview)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 1?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Conversation with the examiner. The examiner asks questions and you give information about
                        yourself, talk about past experiences, present job, studies, where you live, etc., and future
                        plans.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Giving information about yourself.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How long do we have to speak?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>2–3 minutes</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 2 (Discussion)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 2?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>The examiner gives you some pictures and describes a situation to you. You have to talk to the
                        other candidate and decide what would be best in the situation.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Making and responding to suggestions, discussing alternatives, making recommendations,
                        negotiating agreement.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How long do we have to speak?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>2–3 minutes</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 3 (Extended turn)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 3?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>The examiner gives you a colour photograph and you have to talk about it.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Describing photographs.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How long do we have to speak?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>3 minutes in total; 1 minute to talk about the photograph.</p>
                    </div>
                  </div>

                  <hr>

                  <h5>Part 4 (General conversation)</h5>
                  <div class="row mt-4">
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What's in Part 4?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Further discussion with the other candidate about the same topic as the task in Part 3.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>What do I have to practise?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>Talking about your opinions, likes/dislikes, experiences, habits, etc.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 info-title">
                      <p>How long do we have to speak?</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12">
                      <p>3 minutes</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </section>

        <section id="preparation" class="navigation-level">
          <h2>Preparation</h2>
          <p>Free: Paper-based sample test</p>
          <a href="https://www.cambridgeenglish.org/Images/23318-preliminary-sample-paper-6.zip" class="text-a zip">
            Download sample papers for B1 Preliminary
          </a>

          <hr>

          <h2>Free: Computer-based sample tests</h2>
          <p class="mt-3">You will need to use the Firefox browser to access these sample tests. You can
            <a href="http://www.mozilla.org/en-US/">download Firefox for free here</a>.
            Once downloaded, open Firefox and use the links below to view the tests.</p>
          <p><a href="https://www.youtube.com/watch?v=KLt_f4hED1Q&feature=youtu.be">Watch this tutorial</a> before you
            start to help you understand what you need to do. </p>
          <p class="mt-5">
            <strong>
              Check your answers as you do the test. Once the test has finished you will not be able to check them.
            </strong>
          </p>
          <a class="text-dark" href="http://cbpt.s3.amazonaws.com/cb-pet-readingwriting/index.html"><i class="fa fa-pencil"></i>
            Reading and Writing sample test</a>
          <br>
          <a class="text-dark" href="http://cbpt.s3.amazonaws.com/cb-pet-listening/index.html"> <i class="fa fa-headphones"></i>
            Listening sample test</a>
          <p class="mt-5">
            <strong>
              Use the answer keys below:
            </strong>
          </p>
          <a target="_blank" href="https://www.cambridgeenglish.org/Images/141303-pet-read-write-sample-key.pdf" class="text-a">Reading
            and Writing answer key</a>
          <br>
          <a target="_blank" href="https://www.cambridgeenglish.org/Images/141301-pet-listening-sample-key.pdf" class="text-a">Listening
            answer key</a>
          <p class="mt-5">There is no answer key for Writing Parts 2 and 3 of the Reading and Writing paper, but there are sample
            answers and examiner comments in the <a href="https://www.cambridgeenglish.org/Images/168150-cambridge-english-preliminary-teachers-handbook.pdf">relevant pages of the B1 Preliminary handbook</a>.</p>

          <hr>

          <h4>Free: English practice</h4>
          <p>Free online activities for reading, writing, listening, grammar, pronunciation and vocabulary. </p>
          <a target="_blank" href="https://www.cambridgeenglish.org/learning-english/activities-for-learners/?level=independent&rows=12"
            class="text-dark"> <i class="fa fa-search"></i> Search for free English activities</a>

          <hr>

          <h4>Vocabulary list</h4>
          <p>This list gives teachers a guide to the vocabulary needed when preparing students for B1 Preliminary and B1 Preliminary for Schools.</p>
          <a href="https://www.cambridgeenglish.org/Images/84669-pet-vocabulary-list.pdf" class="text-a">
            Download B1 Preliminary vocabulary list
          </a>

          <hr>

          <h4>Summary regulations for candidates</h4>
          <p>All the important information you need to know when taking the exam.</p>
          <a href="https://www.cambridgeenglish.org/Images/113247-summary-regulations-for-candidates.pdf" class="text-a">Download
            Summary regulations for candidates</a>

          <hr>

          <h4>Frequently asked questions and exam day tips</h4>
          <a href="https://www.cambridgeenglish.org/Images/248510-cambridge-english-key-faqs.pdf" class="text-a">
            B1 Preliminary FAQs</a><br>
          <a href="https://www.cambridgeenglish.org/Images/25008-paper-based-exam-document.pdf" class="text-a">
            Exam day tips – paper-based exams</a><br>
          <a href="https://www.cambridgeenglish.org/Images/25009-computer-based-exam.pdf" class="text-a">
            Exam day tips – computer-based exams</a>

          <hr>

          <h4>Games and social media</h4>
          <p>Have fun learning by playing our <a target=_blank href="https://www.cambridgeenglish.org/learning-english/parents-and-children/activities-for-children/">free English games</a>. You can practice your English with other language learners on our <a href="https://www.facebook.com/CambridgeEnglish">Cambridge English Facebook page</a>..</p>

          <hr>

          <h4>Official Cambridge English preparation materials</h4>
          <p>You can find a wide range of official Cambridge English support materials from Cambridge Assessment
            English and Cambridge University Press. Support materials include coursebooks and practice tests and
            include materials in both print and digital formats.</p>
          <div class="row preparation mt-5">

            <div class="col-lg-10 col-md-10 prep-item mb-4 p-0" *ngFor="let material of materials">
              <div class="row">
                <div class="col-3 p-0">
                  <div class="prep-img">
                    <img src="{{material.img}}" alt="">
                  </div>
                  <a target="_blank" href="{{material.link}}">
                    <button class="btn btn-dark btn-nbr buy-book w-100">{{material.action}}</button>
                  </a>
                </div>
                <div class="col-9">
                  <h5>{{material.name}}</h5>
                  <p>{{material.info}}</p>
                </div>
              </div>
            </div>

          </div>
        </section>

        <section id="results" class="navigation-level">
          <h2>Results</h2>
          <p>B1 Preliminary results are reported on the <a routerLink="/exams-tests#qualifications-table">Cambridge
              English Scale</a>.</p>
          <p>You will receive a separate score for each of the four skills (reading, writing, listening and speaking), giving you a clear understanding of your performance. These four scores are averaged to give you an overall result for the exam. You will also be given a grade and <a target="_blank" routerLink="/exams-tests/cefr">Common European Framework of Reference for Languages</a> (CEFR) level.</p>
          <a target="_blank" href="https://www.cambridgeenglish.org/Images/167506-cambridge-english-scale-factsheet.pdf"
            class="text-a">For more information about the Cambridge English Scale, download our factsheet</a>

          <hr>

          <h2>When will I get my B1 Preliminary Statement of Results?</h2>
          <p>All candidates receive a <strong>Statement of Results</strong>, and if you are successful in the exam you
            will also receive a <strong>certificate</strong>.</p>
          <p>Your Statement of Results is released online, approximately four to six weeks after the exam for
            paper-based exams, and two to three weeks after the exam for computer-based exams. The fastest way to get
            your results is to sign up to our <a href="https://candidates.cambridgeenglish.org/Members/Login.aspx?M=None">free
              online results service</a>.</p>

          <hr>

          <h2>When will I get my B1 Preliminary certificate?</h2>
          <p>We send your certificate to our office Edu-Action <strong>about three weeks after results are available.
              Our office Edu-Action</strong> then sends it on to you.</p>
          <p>Your certificate will be sent to your centre seven to nine weeks after the date of your exam.</p>
        </section>
      </div>
    </div>
    <div class="text-right">
        <a routerLink="/book-exam" class="btn btn-v2 book-a-test">Book a test!</a>
    </div>
  </div>
</section>
