<section id="study-abroad">
  <div class="container mt-5">
    <h2 class="drop-content-item">Who accept our exams?</h2>
    <div class="line"></div>
    <div class="row mx-auto">
      <div class="col-lg-3 col-cd-5 mx-auto">
        <div class="sidebar">
          <ul class="list-unstyled">
            <h5>Why Choose Us?</h5>
            <li *ngFor="let sidebarItem of sidebarItems">
              <a routerLink="/{{sidebarItem.link}}">{{sidebarItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 subItem mt-4">
        <div class="col-12 intro-img mb-4">
          <img src="../../../../assets/img/why-we/studyAbroad/study-abroad.jpg" alt="" class="w-100">
        </div>
        <p>Planning to study at a university abroad? A Cambridge English qualification is all you need to show you have
          the English language skills to succeed.</p>
        <p class="my-5">Five great reasons to choose a Cambridge English exam to study at a university abroad:</p>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 reason">
            <h5 class="title text-n2">
              Start an adventure
            </h5>
            <p>Discover somewhere new, make friends and enjoy new experiences – all while you’re learning.</p>
          </div>
          <div class="col-lg-6 col-md-6 reason">
            <h5 class="title text-n2">
              Study at the university of your choice
            </h5>
            <p>Get the language skills you need to successfully complete a course taught in English.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 reason">
            <h5 class="title text-n2">
              Prove your English skills
            </h5>
            <p>Cambridge English exams are accepted as proof of language skills by over 20,000 organisations around the
              world.</p>
          </div>
          <div class="col-lg-6 col-md-6 reason">
            <h5 class="title text-n2">
              Take part in student life
            </h5>
            <p>Build the confidence and the real-life language skills to make friends and be an active part of your
              student community.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 reason">
            <h5 class="title text-n2">
              Impress your future boss
            </h5>
            <p> Impress employers with a qualification that’s trusted by the world’s top companies.</p>
          </div>
        </div>

        <hr>

        <h4>Explore English at Work</h4>
        <p>Cambridge English exams can help you gain admission to your college or university, qualify for a visa, and
          get the language skills to live, study and really enjoy your time in an English-speaking environment.
        </p>
        <p>Our exams are:</p>
        <div class="row my-4 text-center">
          <div class="col-lg- col-md-6">
            <h5 class="title text-m2">
              Convenient:
            </h5>
            <p>Choose from over 2,800 exam centres in 130 countries.</p>
          </div>
          <div class="col-lg- col-md-6">
            <h5 class="title text-m2">
              Frequent:
            </h5>
            <p>Regular test dates all year.</p>
          </div>
        </div>

        <div class="row my-4 text-center">
          <div class="col-lg- col-md-6">
            <h5 class="title text-m2">
              Trusted:
            </h5>
            <p>Accepted worldwide by over 20,000 employers and educational institutions.</p>
          </div>
          <div class="col-lg- col-md-6">
            <h5 class="title text-m2">
              Fully supported:
            </h5>
            <p>Over 52,000 registered preparation centres around the world to help you prepare for your exam, plus a
              huge range of free learning resources such as games, videos and quizzes.</p>
          </div>
        </div>

        <p>Find out more about our exams for studying abroad:</p>
        <ul>

          <div class="lvl">
            <div class="level btn-m3">
              <h4>B2</h4>
            </div>
            <p class="lvl-name d-inline ml-3">
              Preliminary for Schools (PET)</p>
          </div>

          <div class="lvl">
            <div class="level btn-m3">
              <h4>C2</h4>
            </div>
            <p class="lvl-name d-inline ml-3">
                Advanced (CAE)</p>
          </div>

        </ul>

      </div>
    </div>
  </div>
</section>
