$v1: #710193;
$v2: #9846b7;
$v3: #3b0056;

$m1: #a10559;
$m2: #bc2b7e;
$m3: #770044;

$n1: #0b1171;
$n2: #313b9b;
$n3: #060b38;


.sidebar{
    ul{
        li:hover{
            border-left: 5px solid $n1;
        }
    }
}


#study-abroad{
    a{
        color: $n2;
        opacity: 0.7;
        font-weight: 500;
        text-decoration: none;
    }
    h2{
        font-weight: 300;
    }
    .line{
        height: 5px;
        background: $n2;
        border-radius: 5rem;
    }
    .accept-item{
        line-height: 100px;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        opacity: 0.7;
        text-align: center;
    }
    .accept-item:hover{
        opacity: 1;
    }
    .intro-img{
        width: 100%;
        position: relative;
        overflow: hidden;
        img{
            transition: 0.5s;
            transform: scale(1.1)
        }
    }
    .intro-img:hover{
        img{
            transform: scale(1.2) translate(0, -15px);
        }
    }
    .title{
        text-align: center;
        font-size: 19px;
    }
    .title::before{
        content: '⚫';
        position: absolute;
        margin-left: -23px;
        opacity: 0;
        transition: 0.5s;
    }
    .reason:hover{
        .title::before{
            opacity: 0.7;
        }
    }
    h4{
        opacity: .8;
    }
    .lvl{
        margin-bottom: 25px;
        transition: 0.5s;
    }
    .level{
        width: 50px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        vertical-align: middle;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        h4{
            font-weight: 700;
            line-height: 50px;
            vertical-align: middle;
        }
    }
    .lvl:hover{
        padding-left: 20px;
        cursor: pointer;
    }
}