$o1: rgb(240, 146, 70);
$o2: rgb(228, 156, 97);
$o3: rgb(228, 130, 51);

$do1: rgb(216, 99, 57);
$do2: rgb(214, 126, 94);
$do3: rgb(218, 78, 28);

.sidebar{
    ul{
        li:hover{
            border-left: 5px solid $do1;
        }
    }
}


#study-abroad{
    a{
        color: $do2;
        opacity: 0.7;
        font-weight: 500;
        text-decoration: none;
    }
    h2{
        font-weight: 300;
    }
    .line{
        height: 5px;
        background: $do2;
        border-radius: 5rem;
    }
    .accept-item{
        line-height: 100px;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        opacity: 0.7;
        text-align: center;
    }
    .accept-item:hover{
        opacity: 1;
    }
    .intro-img{
        width: 100%;
        position: relative;
        overflow: hidden;
        img{
            transition: 0.5s;
            transform: scale(1.1)
        }
    }
    .intro-img:hover{
        img{
            transform: scale(1.2) translate(0, -15px);
        }
    }
    .title{
        text-align: center;
        font-size: 19px;
    }
    .title::before{
        content: '⚫';
        position: absolute;
        margin-left: -23px;
        opacity: 0;
        transition: 0.5s;
    }
    .reason:hover{
        .title::before{
            opacity: 0.7;
        }
    }
    h4{
        opacity: .8;
    }
    .lvl{
        margin-bottom: 25px;
        transition: 0.5s;
    }
    .level{
        width: 50px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        vertical-align: middle;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        h4{
            font-weight: 700;
            line-height: 50px;
            vertical-align: middle;
        }
    }
    .lvl:hover{
        padding-left: 20px;
        cursor: pointer;
    }
}