<section id="exams-tests">
  <div class="text-center slider">
    <div class="content">
      <h1>Exams and tests</h1>
      <div class="col-lg-3 col-md-6 col-10 p-0">
        <p>We have qualifications for schools, general and higher education, and business.</p>
      </div>
    </div>
  </div>

  <div class="step-by-step text-center">
    <div class="container">
      <h1>Your path to learning English, step by step</h1>
      <div class="col-lg-5 col-md-6 d-block mx-auto">
        <img src="../../../assets/img/why-we/CEQ.png" alt="" class="w-75 my-5">
        <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and
          rewarding. Our unique approach encourages continuous progression with a clear path to improve language
          skills. We have qualifications for schools, general and higher education, and business.</p>
      </div>
      <div class="row pt-5 parts">
        <div class="col-lg-4 col-md-5 mx-auto part-item">
          <h4>School</h4>
          <p class="my-4">For us, learning English is more than just exams and grades. It’s about having the confidence
            to
            communicate and access a lifetime of enriching experiences and opportunities.....</p>
          <a routerLink="/exams-tests/schools"><button class="btn btn-v2 rounded">Learn more!</button></a>
        </div>
        <div class="col-lg-4 col-md-5 mx-auto part-item">
          <h4>General higher education</h4>
          <p class="my-4">Cambridge English Qualifications are in-depth exams that make learning English enjoyable,
            effective and rewarding.....</p>
          <a routerLink="/exams-tests/general-higher"><button class="btn btn-n2 rounded">Learn more!</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="qualifications text-center" id="qualifications-table">
    <h2>Below you can see Cambridge English Qualifications</h2>
    <div class="container">
      <div class="col-lg-6 col-md-9 mx-auto mt-3">
        <img class="w-100" src="../../../assets/img/exams/cefr-diagram.png" alt="">
      </div>
      <h2 class="my-5">Find out more about any levels</h2>
      <div class="row levels">

        <div class="col-lg-5 col-md-6 mx-auto">

          <h3 class="my-5 text-center">For Schools</h3>

          <a routerLink="/exams-tests/schools/first-for-schools">
            <div class="lvl">
              <div class="level btn-m1">
                <h4>B2</h4>
              </div>
              <p>First for Schools (FCE)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/preliminary-for-schools">
            <div class="lvl">
              <div class="level btn-m3">
                <h4>B1</h4>
              </div>
              <p>Preliminary for Schools (PET)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/key-for-schools">
            <div class="lvl">
              <div class="level btn-v2">
                <h4>A2</h4>
              </div>
              <p>Key for Schools (KET)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/flyers">
            <div class="lvl">
              <div class="level btn-v1">
                <h4>A2</h4>
              </div>
              <p>Flyers (YLE Flyers)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/movers">
            <div class="lvl">
              <div class="level btn-n1">
                <h4>A1</h4>
              </div>
              <p>Movers (YLE Movers)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/schools/starters">
            <div class="lvl pre-lvl">
              <div class="level btn-n2">
                <h4><span class="pre">Pre</span> A1</h4>
              </div>
              <p>Starters (YLE Starters)</p>
            </div>
          </a>

        </div>

        <div class="col-lg-5 col-md-6 mx-auto">

          <h3 class="my-5 text-center">General and higher education</h3>

          <a routerLink="/exams-tests/general-higher/advanced">
            <div class="lvl">
              <div class="level btn-m1">
                <h4>C1</h4>
              </div>
              <p>Advanced (CAE)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/general-higher/first">
            <div class="lvl">
              <div class="level btn-v1">
                <h4>B2</h4>
              </div>
              <p>First (FCE)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/general-higher/preliminary">
            <div class="lvl">
              <div class="level btn-m2">
                <h4>B1</h4>
              </div>
              <p>Preliminary (PET)</p>
            </div>
          </a>

          <a routerLink="/exams-tests/general-higher/key">
            <div class="lvl">
              <div class="level btn-v2">
                <h4>A2</h4>
              </div>
              <p> Key (KET)</p>
            </div>
          </a>

        </div>

      </div>
    </div>
  </div>



</section>
