
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";


body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
hr{
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}
.text-a{
    color: #5E6063!important;
}
.row{
    width: 100% !important;
}
footer{
    margin-top: 200px;
}
.fa-phone{
    transform: rotate(270deg)
}
.title{
    font-weight: 700!important;
}
.carousel-inner{
    overflow: visible!important;
}
.btn-v1{
    background-color: rgb(240, 146, 70);
    color: #fff;
}
.btn-v2{
    background-color: rgb(228, 156, 97);
    color: #fff;
}
.btn-v3{
    background-color: rgb(228, 130, 51);
    color: #fff;
}
.btn-m1{
    background-color: rgb(216, 99, 57);
    color: #fff;
}
.btn-m2{
    background-color: rgb(214, 126, 94);
    color: #fff;
}
.btn-m3{
    background-color: rgb(218, 78, 28);
    color: #fff;
}
.btn-n1{
    background-color: rgb(216, 142, 57);
    color: #fff;
}
.btn-n2{
    background-color: rgb(235, 166, 88);
    color: #fff;
}
.btn-n3{
    background-color: rgb(236, 143, 37);
    color: #fff;
}
.btn-or{
    background-color: #fd5427;
    color: #fff;
}
.rounded{
    border-radius: 5rem!important;
}
.btn-hover{
    opacity: 0.7!important;
    transition: 0.3s;
}
.btn-hover:hover{
    opacity: 1!important;
}
.btn-nbr{
    border-radius: 0!important;
}

.text-v1{
    color: rgb(240, 146, 70)
}
.text-v2{
    color: rgb(228, 156, 97)
}
.text-v3{
    color: rgb(228, 130, 51)
}
.text-m1{
    color: rgb(216, 99, 57)
}
.text-m2{
    color: rgb(214, 126, 94)
}
.text-m3{
    color: rgb(218, 78, 28)
}
.text-n1{
    color: rgb(214, 126, 94)
}
.text-n2{
    color: rgb(218, 78, 28)
}
.text-n3{
    color: rgb(216, 99, 57)
}
.italic{
    font-style: italic;
}
.short-line{
    width: 50px;
    height: 5px;
    border-radius: 5rem;
}
.line{
    height: 5px;
    border-radius: 5rem;
}
.quote-block{
    font-style: italic;
    position: relative;
    .quote::before{
        top: 0;
        position: absolute;
        left: -15px;
        content: "\2018";
        font-size: 2em;
        font-weight: 700;
        line-height: .75em;
        color: #007f86;
    }
    .quote::after{
        content: "\2019";
        position: absolute;
        font-size: 2em;
        font-weight: 700;
        line-height: 1em;
        color: #007f86;
    }
}
#level{
    margin-top: 100px;
    .title{
        line-height: 50px;
        vertical-align: middle;
    }
}

.sidebar-menu{
    h5{
        color: #b1b1b1;
        margin-top: 15px;
        i{
            transition: 0.2s;
            padding-left: 5px;
        }
    }
    h5:hover{
        i{
            color: #710193bb;
        }
    }
    .sidebar{
        margin-top: 25px;
        padding-right: 15px;
        ul{
            li{
                padding-left: 15px;
                cursor: pointer;
                transition: 0.2s;
                a{
                    padding: 10px;
                    display: block;
                }
            }
            li:hover{
                background: rgba(204, 204, 204, 0.4);
                padding-left: 25px;
                border-left: 5px solid rgb(228, 130, 51);
            }
        }
        a{
            color: rgb(43, 43, 43)!important;
            text-decoration: none;
        }
    }
}

.subItem{
    p{
        font-size: 16px;
        color: #6d6d6d;
        line-height: 25px;
    }
}
p{
    line-height: 26px;
}
.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.row{
    margin-left: 0!important;
}
#results{
    ul{
        li{
            opacity: 0.8;
            margin-bottom: 10px;
        }
    }
    img{
        transition: 0.2s;
    }
    img:hover{
        transform: scale(1.5);
    }
}
table{
    th{
        padding-left: 15px;
    }
}

.text-a{
    background-image: url(assets/img/download.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.zip{
    background-image: url(assets/img/downloadZip.png)!important;
}

.btn-links {
    a {
        margin: 0;
    }
}

.sm {
    width: 33%;
}
.sm-table-mark {
    width: 150px;
}

.info-title {
    margin-bottom: 15px;
}

.why-we-section, #parents-children, #games-social-media, #cefr, #book-test, #parents-info, #terms {
    margin-top: 100px;
}

table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media(min-width: 998px){
    .sidebar-menu{
        .sidebar{
            border-right: 1px solid #ccc;
            height: 500px;
            a{
                color: #5E6063!important;
            }
        }
        h5 {
            i {
                display: none;
            }
        }
        .collapse{
            display: block;
        }
    }    
}

@media(max-width: 998px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h4{
        font-size: 18px;
    }
    .sidebar{
        border-right: 0;
    }
    .sidebar-menu {
        h5 {
            cursor: pointer;
        }
    }
    .btn-links{
        text-align: left!important;
    }
    .subItem {
        padding: 0;
    }
    table {
        width: 500px!important;
    }
}

@media(max-width: 768px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    .dropdown-menu{
        margin: 15px 0;
    }
    p, td{
        font-size: 15px!important;
    }
}

@media(max-width: 576px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
}