<section id="higher-edu">
  <div class="container">
    <div class="intro">
      <h1>General and higher education</h1>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and
            rewarding.</p>
        </div>
        <div class="col-lg-6 col-md-12">
          <p>Whether you aspire to get into university, start your own business or develop your career, our general and
            higher education qualifications give you the confidence to achieve your goals.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="advantages">

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-7 icon">
          <i class="i2 fa fa-university" aria-hidden="true"></i>
          <i class="i1 fa fa-handshake-o" aria-hidden="true"></i>
          <i class="i3 fa fa-globe" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Accepted worldwide</h4>
            <p>Our qualifications are accepted and trusted by thousands of leading higher education institutions,
              employers and governments worldwide. They are a mark of excellence, and open doors to exciting higher
              education and employment opportunities.</p>
          </div>
        </div>
        <div class="col-lg-1 space"></div>
      </div>
    </div>

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-1 space"></div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Real-life communication</h4>
            <p>Our exams are based on real-life situations, helping you develop the skills you need to communicate
              effectively. The Speaking test is taken face to face with our expert examiners, so you will develop the
              ability to express your opinions and speak confidently.</p>
          </div>
        </div>
        <div class="col-lg-7 icon">
          <i class="i1 fa fa-bullhorn" aria-hidden="true"></i>
          <i class="i2 fa fa-comments-o" aria-hidden="true"></i>
          <i class="i3 fa fa-users" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="adv-item">
      <div class="row m-0">
        <div class="col-lg-7 icon">
          <i class="i1 fa fa-book" aria-hidden="true"></i>
          <i class="i2 fa fa-pencil" aria-hidden="true"></i>
          <i class="i3 fa fa-file-text-o" aria-hidden="true"></i>
        </div>
        <div class="col-lg-4 col-md-12 text">
          <div class="content">
            <h4>Practice materials</h4>
            <p>We offer a broad range of learning and support materials to sharpen your language skills and help you
              communicate with confidence, for life.</p>
          </div>
        </div>
        <div class="col-lg-1 space"></div>
      </div>
    </div>
  </div>

  <div class="levels">
    <h2>Your path to learning English, step by step</h2>
    <div class="container">
      <div class="col-lg-6 col-md-8 col-12 mx-auto text-center">
        <p>Cambridge English Qualifications are designed so that each exam builds on the skills you develop at the
          previous level. Below you can see how our exams work together to create an effective learning journey.</p>
      </div>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-v2">
            <h2>A2</h2>
          </div>
          <h4>A2 Key</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This qualification is proof of your ability to use English to communicate in simple situations. A2 Key
              is a great exam to take if you’re new to learning English.</p>
          </div>
          <button class="btn btn-v2">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-m2">
            <h2>B1</h2>
          </div>
          <h4>B1 Preliminary</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This is an intermediate-level qualification for those who have mastered the basics of English and now
              have practical language skills for everyday use.</p>
          </div>
          <button class="btn btn-m2">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-v1">
            <h2>B2</h2>
          </div>
          <h4>B2 First</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This qualification shows you have the language skills needed to communicate confidently in an English-speaking environment.</p>
          </div>
          <button class="btn btn-v1">More information</button>
        </div>
      </a>

      <a href="#">
        <div class="lvl text-center mt-5">
          <div class="level btn-m1">
            <h2>С1</h2>
          </div>
          <h4>C1 Advanced</h4>
          <div class="col-lg-5 col-md-6 d-block mx-auto text-left mt-3">
            <p>This is proof of high-level achievement in English and the ideal qualification to prepare you for university or professional life.</p>
          </div>
          <button class="btn btn-m1">More information</button>
        </div>
      </a>

    </div>
  </div>

</section>
